{"issachar" "12D3KooWHYw8f35rca2MdjHmPRYjPJJV7a2qJ1DtiPvN8TmQLTPf", "levi" "12D3KooWGAadrKoww61REjMHhb6Ki6kfx9RtHiJFS52pNQ7srceV", "zebulun" "12D3KooWQ9G2XPhDEdqAAkdn6qwmu4fvS1itj2GnsyQc9WaaVJbA", "benjamin" "12D3KooWKL8YXR3ZmZb8UCWvoS5trVJos9bY6H1fnHSdHTJqnqno", "judah" "12D3KooWGoWhfEnumgjQvRarZroEnce3VuDKoMTvR4tDy5jd7tZp", "joseph" "12D3KooWR5rjGmQZ2NB2umwHw2V9XMXaR5EufitXZUm5AsDjy4Pf", "naphtali" "12D3KooWPzvJcRvgCaE9g8nCWMkjEz98JnZ4gxnEHEeGmCjeS56j", "simeon" "12D3KooWGMKyUiCz1hooFdP2EqrkhKuoXzh8j4ikakXnpFC7Cjew", "asher" "12D3KooWMiAPBTZr6TD1VcaWJptoxvnZcR5K7oBwVyFuQXjuxq9C", "dan" "12D3KooWSgAPZ4jBk43U9iZRgmBBs7Ef16A1Wb6PYkKpSkM4tm9C"}