;; Language pin for this repository's Kotoba surface.
;; Last green kotoba-lang SHA named by the keeper. Do not treat kotoba-lang
;; main HEAD as production: 8d9f3e8f (merge #517, guest-grammar) is RED.
;; This file does not claim compiler 8d9f3e8f and does not invent a newer pin.
{:kotoba-lang/git "https://github.com/kotoba-lang/kotoba-lang"
 :kotoba-lang/sha "48d7d3cb6ccde4a0f8910bc6c7f4276de2b77fdd"
 :kotoba-lang/short "48d7d3cb"}
