<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.murakumo.kototama-component</string>
  <key>UserName</key><string>{{USER}}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{BIN}}</string>
    <string>--serve</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>KOTOTAMA_BIND_ADDR</key><string>127.0.0.1:18901</string>
    <key>KOTOTAMA_COMPONENT_PATH</key><string>{{COMPONENT}}</string>
    <key>KOTOTAMA_COMPONENT_CID</key><string>{{COMPONENT_CID}}</string>
    <key>KOTOTAMA_COMPONENT_SHA256</key><string>{{COMPONENT_SHA256}}</string>
    <key>KOTOTAMA_EXPECTED_RESULT</key><string>{{EXPECTED_RESULT}}</string>
    <key>KOTOTAMA_FUEL</key><string>{{FUEL}}</string>
    <key>KOTOTAMA_MEMORY_PAGES</key><string>{{MEMORY_PAGES}}</string>
    <key>KOTOTAMA_NODE</key><string>{{NODE}}</string>
    <key>KOTOTAMA_RECEIPT_SEED_PATH</key><string>{{SEED}}</string>
    <key>KOTOTAMA_RECEIPT_LOG</key><string>{{RECEIPTS}}</string>
    <key>KOTOTAMA_CAPABILITY_CONFIG_PATH</key><string>{{CAPABILITY_CONFIG}}</string>
    <key>KOTOTAMA_CAPABILITY_CONFIG_SHA256</key><string>{{CAPABILITY_CONFIG_SHA256}}</string>
  </dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ThrottleInterval</key><integer>10</integer>
  <key>StandardOutPath</key><string>{{LOG}}</string>
  <key>StandardErrorPath</key><string>{{LOG}}</string>
</dict>
</plist>
