{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-fleet-path,
   :params [],
   :result :string,
   :effects #{},
   :body "fleet.edn",
   :param-types []}
  {:name default-connect-path,
   :params [],
   :result :string,
   :effects #{},
   :body "connect.edn",
   :param-types []}
  {:name default-cloud-path,
   :params [],
   :result :string,
   :effects #{},
   :body "cloud.edn",
   :param-types []}
  {:name default-cloud-url,
   :params [],
   :result :string,
   :effects #{},
   :body "https://api.murakumo.cloud",
   :param-types []}
  {:name default-api-url,
   :params [],
   :result :string,
   :effects #{},
   :body "https://api.murakumo.cloud",
   :param-types []}
  {:name default-text-backend-url,
   :params [],
   :result :string,
   :effects #{},
   :body "http://localhost:11434",
   :param-types []}
  {:name default-image-checkpoint,
   :params [],
   :result :string,
   :effects #{},
   :body "animagine-xl-4.0.safetensors",
   :param-types []}
  {:name default-infer-local-url,
   :params [],
   :result :string,
   :effects #{},
   :body "http://localhost:11434/v1",
   :param-types []}
  {:name default-kotoba-cli-bin,
   :params [],
   :result :string,
   :effects #{},
   :body "kotoba",
   :param-types []}
  {:name kotoba-dir-suffix,
   :params [],
   :result :string,
   :effects #{},
   :body "/github/com-junkawasaki/orgs/com-junkawasaki/kotoba",
   :param-types []}
  {:name bin-suffix,
   :params [],
   :result :string,
   :effects #{},
   :body "/bin",
   :param-types []}
  {:name release-bin-suffix,
   :params [],
   :result :string,
   :effects #{},
   :body "/target/aarch64-apple-darwin/release",
   :param-types []}
  {:name wit-suffix,
   :params [],
   :result :string,
   :effects #{},
   :body "/wit",
   :param-types []}
  {:name runtime-wit-suffix,
   :params [],
   :result :string,
   :effects #{},
   :body "/crates/kotoba-runtime/wit",
   :param-types []}
  {:name kotoba-server-suffix,
   :params [],
   :result :string,
   :effects #{},
   :body "/kotoba-server",
   :param-types []}
  {:name kotoba-cli-suffix,
   :params [],
   :result :string,
   :effects #{},
   :body "/kotoba",
   :param-types []}
  {:name build-edn-suffix,
   :params [],
   :result :string,
   :effects #{},
   :body "/BUILD.edn",
   :param-types []}
  {:name default-kotoba-dir,
   :params [home],
   :result :string,
   :effects #{},
   :body (string-concat home (kotoba-dir-suffix)),
   :param-types [:string]}
  {:name kotoba-dir-from,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (if
    (string=?
     (record-get
      [:record
       :config/kotoba-dir
       [[:override :string] [:home :string]]]
      x
      :override)
     "")
    (default-kotoba-dir
     (record-get
      [:record
       :config/kotoba-dir
       [[:override :string] [:home :string]]]
      x
      :home))
    (record-get
     [:record :config/kotoba-dir [[:override :string] [:home :string]]]
     x
     :override)),
   :param-types [[:ref :config/kotoba-dir]]}
  {:name pinned-bin-dir,
   :params [user-dir],
   :result :string,
   :effects #{},
   :body (string-concat user-dir (bin-suffix)),
   :param-types [:string]}
  {:name release-bin-dir,
   :params [kotoba-dir],
   :result :string,
   :effects #{},
   :body (string-concat kotoba-dir (release-bin-suffix)),
   :param-types [:string]}
  {:name kotoba-server-bin,
   :params [bin-dir],
   :result :string,
   :effects #{},
   :body (string-concat bin-dir (kotoba-server-suffix)),
   :param-types [:string]}
  {:name local-kotoba-bin,
   :params [bin-dir],
   :result :string,
   :effects #{},
   :body (string-concat bin-dir (kotoba-cli-suffix)),
   :param-types [:string]}
  {:name pinned-wit-dir,
   :params [user-dir],
   :result :string,
   :effects #{},
   :body (string-concat (pinned-bin-dir user-dir) (wit-suffix)),
   :param-types [:string]}
  {:name runtime-wit-dir,
   :params [kotoba-dir],
   :result :string,
   :effects #{},
   :body (string-concat kotoba-dir (runtime-wit-suffix)),
   :param-types [:string]}
  {:name build-manifest-path,
   :params [user-dir],
   :result :string,
   :effects #{},
   :body (string-concat (pinned-bin-dir user-dir) (build-edn-suffix)),
   :param-types [:string]}
  {:name peers-path,
   :params [],
   :result :string,
   :effects #{},
   :body ".murakumo-peers.edn",
   :param-types []}
  {:name launchd-template-path,
   :params [],
   :result :string,
   :effects #{},
   :body "deploy/com.murakumo.kotoba-mesh.plist.tmpl",
   :param-types []}
  {:name kotoba-bin,
   :params [b],
   :result :string,
   :effects #{},
   :body
   (if
    (record-get
     [:record
      :config/kotoba-bin
      [[:user-dir :string] [:pinned-exists :bool]]]
     b
     :pinned-exists)
    (string-concat
     (pinned-bin-dir
      (record-get
       [:record
        :config/kotoba-bin
        [[:user-dir :string] [:pinned-exists :bool]]]
       b
       :user-dir))
     (kotoba-cli-suffix))
    (default-kotoba-cli-bin)),
   :param-types [[:ref :config/kotoba-bin]]}
  {:name resolve-local-bin,
   :params [b],
   :result :string,
   :effects #{},
   :body
   (if
    (record-get
     [:record
      :config/local-bin
      [[:user-dir :string]
       [:kotoba-dir :string]
       [:pinned-exists :bool]
       [:murakumo-bin :string]]]
     b
     :pinned-exists)
    (pinned-bin-dir
     (record-get
      [:record
       :config/local-bin
       [[:user-dir :string]
        [:kotoba-dir :string]
        [:pinned-exists :bool]
        [:murakumo-bin :string]]]
      b
      :user-dir))
    (if
     (string=?
      (record-get
       [:record
        :config/local-bin
        [[:user-dir :string]
         [:kotoba-dir :string]
         [:pinned-exists :bool]
         [:murakumo-bin :string]]]
       b
       :murakumo-bin)
      "")
     (release-bin-dir
      (record-get
       [:record
        :config/local-bin
        [[:user-dir :string]
         [:kotoba-dir :string]
         [:pinned-exists :bool]
         [:murakumo-bin :string]]]
       b
       :kotoba-dir))
     (record-get
      [:record
       :config/local-bin
       [[:user-dir :string]
        [:kotoba-dir :string]
        [:pinned-exists :bool]
        [:murakumo-bin :string]]]
      b
      :murakumo-bin))),
   :param-types [[:ref :config/local-bin]]}
  {:name resolve-wit-dir,
   :params [w],
   :result :string,
   :effects #{},
   :body
   (if
    (record-get
     [:record
      :config/wit-dir
      [[:user-dir :string]
       [:kotoba-dir :string]
       [:pinned-wit-exists :bool]]]
     w
     :pinned-wit-exists)
    (pinned-wit-dir
     (record-get
      [:record
       :config/wit-dir
       [[:user-dir :string]
        [:kotoba-dir :string]
        [:pinned-wit-exists :bool]]]
      w
      :user-dir))
    (runtime-wit-dir
     (record-get
      [:record
       :config/wit-dir
       [[:user-dir :string]
        [:kotoba-dir :string]
        [:pinned-wit-exists :bool]]]
      w
      :kotoba-dir))),
   :param-types [[:ref :config/wit-dir]]}],
 :oracle-value nil,
 :schema-identities
 #:config{:kotoba-bin
          "a589dd929eb083c9e9db6981b7627e78ddc8468028ba4d7b958b0620e8b65d74",
          :kotoba-dir
          "688d623e1f5c0f69abafca544aff361c68a93582f3cfdb6d016db253fd0d65c0",
          :local-bin
          "4e4545061d0647ebfbe5e3c2bf9b22a85710dd43eaadc2e7186b69a61297febe",
          :wit-dir
          "90af86e920348557e54c3c01eb8ec181dc5a41aac0203929c905df27fa6d5e7b"},
 :exports
 [default-fleet-path
  default-connect-path
  default-cloud-path
  default-kotoba-dir
  pinned-bin-dir
  release-bin-dir
  kotoba-server-bin
  local-kotoba-bin
  pinned-wit-dir
  runtime-wit-dir
  build-manifest-path
  peers-path
  launchd-template-path
  kotoba-bin
  resolve-local-bin
  resolve-wit-dir
  kotoba-dir-from
  default-cloud-url
  default-api-url
  default-text-backend-url
  default-image-checkpoint
  default-infer-local-url
  default-kotoba-cli-bin
  kotoba-dir-suffix
  bin-suffix
  release-bin-suffix
  wit-suffix
  runtime-wit-suffix
  kotoba-server-suffix
  kotoba-cli-suffix
  build-edn-suffix],
 :schemas
 #:config{:kotoba-dir
          [:record
           :config/kotoba-dir
           [[:override :string] [:home :string]]],
          :kotoba-bin
          [:record
           :config/kotoba-bin
           [[:user-dir :string] [:pinned-exists :bool]]],
          :local-bin
          [:record
           :config/local-bin
           [[:user-dir :string]
            [:kotoba-dir :string]
            [:pinned-exists :bool]
            [:murakumo-bin :string]]],
          :wit-dir
          [:record
           :config/wit-dir
           [[:user-dir :string]
            [:kotoba-dir :string]
            [:pinned-wit-exists :bool]]]},
 :effects #{},
 :blocks [],
 :entry nil}
