{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-class-name,
   :params [default-class],
   :result :string,
   :effects #{},
   :body (if (string=? default-class "") "native" default-class),
   :param-types [:string]}
  {:name node-class-name,
   :params [node-class default-class],
   :result :string,
   :effects #{},
   :body
   (if
    (string=? node-class "")
    (default-class-name default-class)
    node-class),
   :param-types [:string :string]}
  {:name serves-read?,
   :params [has-http],
   :result :i64,
   :effects #{},
   :body (if (= has-http 1) 1 0),
   :param-types [:i64]}
  {:name serves-live?,
   :params [has-common],
   :result :i64,
   :effects #{},
   :body (if (= has-common 1) 1 0),
   :param-types [:i64]}
  {:name serves-plane?,
   :params [plane has-http has-common],
   :result :i64,
   :effects #{},
   :body
   (if
    (string=? plane "read")
    (serves-read? has-http)
    (if (string=? plane "live") (serves-live? has-common) 0)),
   :param-types [:string :i64 :i64]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [default-class-name
  node-class-name
  serves-read?
  serves-live?
  serves-plane?],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
