{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name class-native,
   :params [],
   :result :string,
   :effects #{},
   :body "native",
   :param-types []}
  {:name plane-read,
   :params [],
   :result :string,
   :effects #{},
   :body "read",
   :param-types []}
  {:name plane-live,
   :params [],
   :result :string,
   :effects #{},
   :body "live",
   :param-types []}
  {:name default-class-name,
   :params [default-class],
   :result :string,
   :effects #{},
   :body (if (string=? default-class "") (class-native) default-class),
   :param-types [:string]}
  {:name node-class-name,
   :params [node-class default-class],
   :result :string,
   :effects #{},
   :body
   (if
    (string=? node-class "")
    (default-class-name default-class)
    node-class),
   :param-types [:string :string]}
  {:name serves-read?,
   :params [http?],
   :result :bool,
   :effects #{},
   :body http?,
   :param-types [:bool]}
  {:name serves-live?,
   :params [common?],
   :result :bool,
   :effects #{},
   :body common?,
   :param-types [:bool]}
  {:name serves-plane?,
   :params [plane http? common?],
   :result :bool,
   :effects #{},
   :body
   (if
    (string=? plane (plane-read))
    (serves-read? http?)
    (if (string=? plane (plane-live)) (serves-live? common?) false)),
   :param-types [:string :bool :bool]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [default-class-name
  node-class-name
  serves-read?
  serves-live?
  serves-plane?
  class-native
  plane-read
  plane-live],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
