{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-class-name,
   :params [default-class],
   :result :string,
   :effects #{},
   :body (if (string=? default-class "") "native" default-class),
   :param-types [:string]}
  {:name node-class-name,
   :params [node-class default-class],
   :result :string,
   :effects #{},
   :body
   (if
    (string=? node-class "")
    (default-class-name default-class)
    node-class),
   :param-types [:string :string]}
  {:name serves-read?,
   :params [http],
   :result :i64,
   :effects #{},
   :body
   (let
    [binding-some__1 http]
    (if
     (option-some?-of [:option :string] binding-some__1)
     (let [_ (option-value-of [:option :string] binding-some__1 "")] 1)
     0)),
   :param-types [[:option :string]]}
  {:name serves-live?,
   :params [common],
   :result :i64,
   :effects #{},
   :body
   (let
    [binding-some__2 common]
    (if
     (option-some?-of [:option :string] binding-some__2)
     (let [_ (option-value-of [:option :string] binding-some__2 "")] 1)
     0)),
   :param-types [[:option :string]]}
  {:name serves-plane?,
   :params [plane http common],
   :result :i64,
   :effects #{},
   :body
   (if
    (string=? plane "read")
    (serves-read? http)
    (if (string=? plane "live") (serves-live? common) 0)),
   :param-types [:string [:option :string] [:option :string]]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [default-class-name
  node-class-name
  serves-read?
  serves-live?
  serves-plane?],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
