{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-wasm,
   :params [],
   :result :string,
   :effects #{},
   :body "/tmp/murakumo-deploy.wasm",
   :param-types []}
  {:name default-publish-node,
   :params [],
   :result :string,
   :effects #{},
   :body "asher",
   :param-types []}
  {:name artifact-forward-port,
   :params [],
   :result :i64,
   :effects #{},
   :body 18900,
   :param-types []}
  {:name publish-forward-port,
   :params [],
   :result :i64,
   :effects #{},
   :body 18077,
   :param-types []}
  {:name forward-settle-ms,
   :params [],
   :result :i64,
   :effects #{},
   :body 1300,
   :param-types []}
  {:name placement-wait-ms,
   :params [],
   :result :i64,
   :effects #{},
   :body 75000,
   :param-types []}
  {:name digit-char,
   :params [d],
   :result :string,
   :effects #{},
   :body (string-substring "0123456789" d (+ d 1)),
   :param-types [:i64]}
  {:name nat-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (digit-char n)
    (string-concat
     (nat-str (quot n 10))
     (digit-char (- n (* (quot n 10) 10))))),
   :param-types [:i64]}
  {:name i64-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if (< n 0) (string-concat "-" (nat-str (- 0 n))) (nat-str n)),
   :param-types [:i64]}
  {:name app-manifest-path,
   :params [manifest-dir app-manifest],
   :result :string,
   :effects #{},
   :body (string-concat manifest-dir (string-concat "/" app-manifest)),
   :param-types [:string :string]}
  {:name publish-selector,
   :params [selector],
   :result :string,
   :effects #{},
   :body (if (string=? selector "") "asher" selector),
   :param-types [:string]}
  {:name localhost-url,
   :params [port],
   :result :string,
   :effects #{},
   :body (string-concat "http://localhost:" (i64-str port)),
   :param-types [:i64]}
  {:name last-slash-index,
   :params [s i best],
   :result :i64,
   :effects #{},
   :body
   (let
    [n (string-byte-length s)]
    (if
     (< i n)
     (if
      (string=? (string-substring s i (+ i 1)) "/")
      (last-slash-index s (+ i 1) i)
      (last-slash-index s (+ i 1) best))
     best)),
   :param-types [:string :i64 :i64]}
  {:name manifest-dir,
   :params [manifest],
   :result :string,
   :effects #{},
   :body
   (let
    [slash (last-slash-index manifest 0 -1)]
    (if (< slash 0) "." (string-substring manifest 0 slash))),
   :param-types [:string]}
  {:name ws?,
   :params [c],
   :result :i64,
   :effects #{},
   :body
   (if
    (string=? c " ")
    1
    (if
     (string=? c "\n")
     1
     (if (string=? c "\t") 1 (if (string=? c "\r") 1 0)))),
   :param-types [:string]}
  {:name trim,
   :params [s],
   :result :string,
   :effects #{},
   :body
   (let
    [n (string-byte-length s)]
    (if
     (= n 0)
     s
     (if
      (= (ws? (string-substring s 0 1)) 1)
      (trim (string-substring s 1 n))
      (if
       (= (ws? (string-substring s (- n 1) n)) 1)
       (trim (string-substring s 0 (- n 1)))
       s)))),
   :param-types [:string]}
  {:name command-output,
   :params [out],
   :result :string,
   :effects #{},
   :body (trim out),
   :param-types [:string]}
  {:name component-build-cmd,
   :params [kotoba src-path wit wasm],
   :result :string,
   :effects #{},
   :body
   (string-concat
    kotoba
    (string-concat
     " component build "
     (string-concat
      src-path
      (string-concat
       " --wit-dir "
       (string-concat wit (string-concat " -o " wasm)))))),
   :param-types [:string :string :string :string]}
  {:name app-deploy-cmd,
   :params [kotoba manifest wit port],
   :result :string,
   :effects #{},
   :body
   (string-concat
    kotoba
    (string-concat
     " app deploy "
     (string-concat
      manifest
      (string-concat
       " --wit-dir "
       (string-concat
        wit
        (string-concat " --publish --url " (localhost-url port))))))),
   :param-types [:string :string :string :i64]}
  {:name pin-bin-kotoba,
   :params [],
   :result :string,
   :effects #{},
   :body "kotoba",
   :param-types []}
  {:name pin-bin-server,
   :params [],
   :result :string,
   :effects #{},
   :body "kotoba-server",
   :param-types []}
  {:name release-wit-suffix,
   :params [],
   :result :string,
   :effects #{},
   :body "/../../../crates/kotoba-runtime/wit",
   :param-types []}
  {:name blank?,
   :params [s],
   :result :i64,
   :effects #{},
   :body
   (let
    [n (string-byte-length s)]
    (if
     (= n 0)
     1
     (if
      (= (ws? (string-substring s 0 1)) 1)
      (blank? (string-substring s 1 n))
      0))),
   :param-types [:string]}
  {:name trim-ws,
   :params [s],
   :result :string,
   :effects #{},
   :body (trim s),
   :param-types [:string]}
  {:name digit-val?,
   :params [c],
   :result :i64,
   :effects #{},
   :body
   (if
    (= (string-byte-length c) 1)
    (if (string-contains? "0123456789" c) 1 0)
    0),
   :param-types [:string]}
  {:name digit-of-go,
   :params [digits c i],
   :result :i64,
   :effects #{},
   :body
   (let
    [n (string-byte-length digits)]
    (if
     (< i n)
     (if
      (string=? (string-substring digits i (+ i 1)) c)
      i
      (digit-of-go digits c (+ i 1)))
     0)),
   :param-types [:string :string :i64]}
  {:name digit-of,
   :params [c],
   :result :i64,
   :effects #{},
   :body (digit-of-go "0123456789" c 0),
   :param-types [:string]}
  {:name parse-digits-go,
   :params [s acc],
   :result :i64,
   :effects #{},
   :body
   (let
    [n (string-byte-length s)]
    (if
     (= n 0)
     acc
     (let
      [c (string-substring s 0 1)]
      (if
       (= (digit-val? c) 0)
       -1
       (parse-digits-go
        (string-substring s 1 n)
        (+ (* acc 10) (digit-of c))))))),
   :param-types [:string :i64]}
  {:name parse-digits,
   :params [s],
   :result :i64,
   :effects #{},
   :body
   (let
    [t (trim-ws s) n (string-byte-length t)]
    (if (= n 0) -1 (parse-digits-go t 0))),
   :param-types [:string]}
  {:name execution-observed?,
   :params [grep-count-out],
   :result :i64,
   :effects #{},
   :body (let [n (parse-digits grep-count-out)] (if (< n 1) 0 1)),
   :param-types [:string]}
  {:name execution-count-command,
   :params [cid],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "grep -c 'trigger: executed.*"
    (string-concat cid "' ~/.murakumo/mesh.log 2>/dev/null")),
   :param-types [:string]}
  {:name join-path,
   :params [a b],
   :result :string,
   :effects #{},
   :body (string-concat a (string-concat "/" b)),
   :param-types [:string :string]}
  {:name release-wit-path,
   :params [release-dir],
   :result :string,
   :effects #{},
   :body (string-concat release-dir (release-wit-suffix)),
   :param-types [:string]}
  {:name stop-forward-command,
   :params [local-port],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "pkill -f '"
    (string-concat (i64-str local-port) ":localhost' 2>/dev/null")),
   :param-types [:i64]}
  {:name absolute-unix-git-bin?,
   :params [p],
   :result :i64,
   :effects #{},
   :body
   (if
    (= (blank? p) 1)
    0
    (if
     (string=? p "git")
     0
     (if
      (< (string-byte-length p) 1)
      0
      (if (string=? (string-substring p 0 1) "/") 1 0)))),
   :param-types [:string]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [default-wasm
  default-publish-node
  artifact-forward-port
  publish-forward-port
  forward-settle-ms
  placement-wait-ms
  digit-char
  nat-str
  i64-str
  app-manifest-path
  publish-selector
  localhost-url
  last-slash-index
  manifest-dir
  command-output
  component-build-cmd
  app-deploy-cmd
  digit-val?
  digit-of
  parse-digits-go
  parse-digits
  trim-ws
  execution-observed?
  execution-count-command
  release-wit-path
  stop-forward-command
  absolute-unix-git-bin?
  blank?
  pin-bin-kotoba
  pin-bin-server
  join-path
  release-wit-suffix],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
