{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-wasm,
   :params [],
   :result :string,
   :effects #{},
   :body "/tmp/murakumo-deploy.wasm",
   :param-types []}
  {:name default-publish-node,
   :params [],
   :result :string,
   :effects #{},
   :body "asher",
   :param-types []}
  {:name artifact-forward-port,
   :params [],
   :result :i64,
   :effects #{},
   :body 18900,
   :param-types []}
  {:name publish-forward-port,
   :params [],
   :result :i64,
   :effects #{},
   :body 18077,
   :param-types []}
  {:name forward-settle-ms,
   :params [],
   :result :i64,
   :effects #{},
   :body 1300,
   :param-types []}
  {:name placement-wait-ms,
   :params [],
   :result :i64,
   :effects #{},
   :body 75000,
   :param-types []}
  {:name digit-char,
   :params [d],
   :result :string,
   :effects #{},
   :body (string-substring "0123456789" d (+ d 1)),
   :param-types [:i64]}
  {:name nat-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (digit-char n)
    (string-concat
     (nat-str (quot n 10))
     (digit-char (- n (* (quot n 10) 10))))),
   :param-types [:i64]}
  {:name i64-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if (< n 0) (string-concat "-" (nat-str (- 0 n))) (nat-str n)),
   :param-types [:i64]}
  {:name path-sep,
   :params [],
   :result :string,
   :effects #{},
   :body "/",
   :param-types []}
  {:name exec-count-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "grep -c 'trigger: executed.*",
   :param-types []}
  {:name exec-count-suffix,
   :params [],
   :result :string,
   :effects #{},
   :body "' ~/.murakumo/mesh.log 2>/dev/null",
   :param-types []}
  {:name pkill-f-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "pkill -f '",
   :param-types []}
  {:name stop-forward-suffix,
   :params [],
   :result :string,
   :effects #{},
   :body ":localhost' 2>/dev/null",
   :param-types []}
  {:name app-manifest-path,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (record-get
     [:record
      :deploy/app-manifest
      [[:manifest-dir :string] [:manifest :string]]]
     x
     :manifest-dir)
    (string-concat
     (path-sep)
     (record-get
      [:record
       :deploy/app-manifest
       [[:manifest-dir :string] [:manifest :string]]]
      x
      :manifest))),
   :param-types [[:ref :deploy/app-manifest]]}
  {:name publish-selector,
   :params [selector],
   :result :string,
   :effects #{},
   :body (if (string=? selector "") "asher" selector),
   :param-types [:string]}
  {:name argv-join-sep,
   :params [],
   :result :string,
   :effects #{},
   :body " ",
   :param-types []}
  {:name localhost-url-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "http://localhost:",
   :param-types []}
  {:name localhost-url,
   :params [port],
   :result :string,
   :effects #{},
   :body (string-concat (localhost-url-prefix) (i64-str port)),
   :param-types [:i64]}
  {:name last-slash-index,
   :params [x],
   :result :i64,
   :effects #{},
   :body
   (let
    [s
     (record-get
      [:record
       :deploy/last-slash
       [[:s :string] [:i :i64] [:best :i64]]]
      x
      :s)
     i
     (record-get
      [:record
       :deploy/last-slash
       [[:s :string] [:i :i64] [:best :i64]]]
      x
      :i)
     best
     (record-get
      [:record
       :deploy/last-slash
       [[:s :string] [:i :i64] [:best :i64]]]
      x
      :best)
     n
     (string-byte-length s)]
    (if
     (< i n)
     (if
      (string=? (string-substring s i (+ i 1)) (path-sep))
      (last-slash-index
       (record-new
        [:record
         :deploy/last-slash
         [[:s :string] [:i :i64] [:best :i64]]]
        s
        (+ i 1)
        i))
      (last-slash-index
       (record-new
        [:record
         :deploy/last-slash
         [[:s :string] [:i :i64] [:best :i64]]]
        s
        (+ i 1)
        best)))
     best)),
   :param-types [[:ref :deploy/last-slash]]}
  {:name manifest-dir,
   :params [manifest],
   :result :string,
   :effects #{},
   :body
   (let
    [slash
     (last-slash-index
      (record-new
       [:record
        :deploy/last-slash
        [[:s :string] [:i :i64] [:best :i64]]]
       manifest
       0
       -1))]
    (if (< slash 0) "." (string-substring manifest 0 slash))),
   :param-types [:string]}
  {:name ws?,
   :params [c],
   :result :bool,
   :effects #{},
   :body
   (if
    (string=? c " ")
    true
    (if
     (string=? c "\n")
     true
     (if (string=? c "\t") true (if (string=? c "\r") true false)))),
   :param-types [:string]}
  {:name trim,
   :params [s],
   :result :string,
   :effects #{},
   :body
   (let
    [n (string-byte-length s)]
    (if
     (= n 0)
     s
     (if
      (ws? (string-substring s 0 1))
      (trim (string-substring s 1 n))
      (if
       (ws? (string-substring s (- n 1) n))
       (trim (string-substring s 0 (- n 1)))
       s)))),
   :param-types [:string]}
  {:name command-output,
   :params [out],
   :result :string,
   :effects #{},
   :body (trim out),
   :param-types [:string]}
  {:name component-subcmd,
   :params [],
   :result :string,
   :effects #{},
   :body "component",
   :param-types []}
  {:name build-subcmd,
   :params [],
   :result :string,
   :effects #{},
   :body "build",
   :param-types []}
  {:name app-subcmd,
   :params [],
   :result :string,
   :effects #{},
   :body "app",
   :param-types []}
  {:name deploy-subcmd,
   :params [],
   :result :string,
   :effects #{},
   :body "deploy",
   :param-types []}
  {:name wit-dir-flag,
   :params [],
   :result :string,
   :effects #{},
   :body "--wit-dir",
   :param-types []}
  {:name output-flag,
   :params [],
   :result :string,
   :effects #{},
   :body "-o",
   :param-types []}
  {:name publish-flag,
   :params [],
   :result :string,
   :effects #{},
   :body "--publish",
   :param-types []}
  {:name url-flag,
   :params [],
   :result :string,
   :effects #{},
   :body "--url",
   :param-types []}
  {:name token-flag,
   :params [],
   :result :string,
   :effects #{},
   :body "--token",
   :param-types []}
  {:name block-subcmd,
   :params [],
   :result :string,
   :effects #{},
   :body "block",
   :param-types []}
  {:name put-subcmd,
   :params [],
   :result :string,
   :effects #{},
   :body "put",
   :param-types []}
  {:name file-flag,
   :params [],
   :result :string,
   :effects #{},
   :body "--file",
   :param-types []}
  {:name component-build-cmd,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [kotoba
     (record-get
      [:record
       :deploy/component-build
       [[:kotoba :string]
        [:src-path :string]
        [:wit :string]
        [:wasm :string]]]
      x
      :kotoba)
     src-path
     (record-get
      [:record
       :deploy/component-build
       [[:kotoba :string]
        [:src-path :string]
        [:wit :string]
        [:wasm :string]]]
      x
      :src-path)
     wit
     (record-get
      [:record
       :deploy/component-build
       [[:kotoba :string]
        [:src-path :string]
        [:wit :string]
        [:wasm :string]]]
      x
      :wit)
     wasm
     (record-get
      [:record
       :deploy/component-build
       [[:kotoba :string]
        [:src-path :string]
        [:wit :string]
        [:wasm :string]]]
      x
      :wasm)]
    (string-concat
     kotoba
     (string-concat
      (argv-join-sep)
      (string-concat
       (component-subcmd)
       (string-concat
        (argv-join-sep)
        (string-concat
         (build-subcmd)
         (string-concat
          (argv-join-sep)
          (string-concat
           src-path
           (string-concat
            (argv-join-sep)
            (string-concat
             (wit-dir-flag)
             (string-concat
              (argv-join-sep)
              (string-concat
               wit
               (string-concat
                (argv-join-sep)
                (string-concat
                 (output-flag)
                 (string-concat (argv-join-sep) wasm))))))))))))))),
   :param-types [[:ref :deploy/component-build]]}
  {:name app-deploy-cmd,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [kotoba
     (record-get
      [:record
       :deploy/app-deploy
       [[:kotoba :string]
        [:manifest :string]
        [:wit :string]
        [:port :i64]]]
      x
      :kotoba)
     manifest
     (record-get
      [:record
       :deploy/app-deploy
       [[:kotoba :string]
        [:manifest :string]
        [:wit :string]
        [:port :i64]]]
      x
      :manifest)
     wit
     (record-get
      [:record
       :deploy/app-deploy
       [[:kotoba :string]
        [:manifest :string]
        [:wit :string]
        [:port :i64]]]
      x
      :wit)
     port
     (record-get
      [:record
       :deploy/app-deploy
       [[:kotoba :string]
        [:manifest :string]
        [:wit :string]
        [:port :i64]]]
      x
      :port)]
    (string-concat
     kotoba
     (string-concat
      (argv-join-sep)
      (string-concat
       (app-subcmd)
       (string-concat
        (argv-join-sep)
        (string-concat
         (deploy-subcmd)
         (string-concat
          (argv-join-sep)
          (string-concat
           manifest
           (string-concat
            (argv-join-sep)
            (string-concat
             (wit-dir-flag)
             (string-concat
              (argv-join-sep)
              (string-concat
               wit
               (string-concat
                (argv-join-sep)
                (string-concat
                 (publish-flag)
                 (string-concat
                  (argv-join-sep)
                  (string-concat
                   (url-flag)
                   (string-concat
                    (argv-join-sep)
                    (localhost-url port)))))))))))))))))),
   :param-types [[:ref :deploy/app-deploy]]}
  {:name pin-bin-kotoba,
   :params [],
   :result :string,
   :effects #{},
   :body "kotoba",
   :param-types []}
  {:name pin-bin-server,
   :params [],
   :result :string,
   :effects #{},
   :body "kotoba-server",
   :param-types []}
  {:name release-wit-suffix,
   :params [],
   :result :string,
   :effects #{},
   :body "/../../../crates/kotoba-runtime/wit",
   :param-types []}
  {:name blank?,
   :params [s],
   :result :bool,
   :effects #{},
   :body
   (let
    [n (string-byte-length s)]
    (if
     (= n 0)
     true
     (if
      (ws? (string-substring s 0 1))
      (blank? (string-substring s 1 n))
      false))),
   :param-types [:string]}
  {:name trim-ws,
   :params [s],
   :result :string,
   :effects #{},
   :body (trim s),
   :param-types [:string]}
  {:name digit-val?,
   :params [c],
   :result :bool,
   :effects #{},
   :body
   (if
    (= (string-byte-length c) 1)
    (if (string-contains? "0123456789" c) true false)
    false),
   :param-types [:string]}
  {:name digit-of-go,
   :params [x],
   :result :i64,
   :effects #{},
   :body
   (let
    [digits
     (record-get
      [:record
       :deploy/digit-of-go
       [[:digits :string] [:c :string] [:i :i64]]]
      x
      :digits)
     c
     (record-get
      [:record
       :deploy/digit-of-go
       [[:digits :string] [:c :string] [:i :i64]]]
      x
      :c)
     i
     (record-get
      [:record
       :deploy/digit-of-go
       [[:digits :string] [:c :string] [:i :i64]]]
      x
      :i)
     n
     (string-byte-length digits)]
    (if
     (< i n)
     (if
      (string=? (string-substring digits i (+ i 1)) c)
      i
      (digit-of-go
       (record-new
        [:record
         :deploy/digit-of-go
         [[:digits :string] [:c :string] [:i :i64]]]
        digits
        c
        (+ i 1))))
     0)),
   :param-types [[:ref :deploy/digit-of-go]]}
  {:name digit-of,
   :params [c],
   :result :i64,
   :effects #{},
   :body
   (digit-of-go
    (record-new
     [:record
      :deploy/digit-of-go
      [[:digits :string] [:c :string] [:i :i64]]]
     "0123456789"
     c
     0)),
   :param-types [:string]}
  {:name parse-digits-go,
   :params [x],
   :result :i64,
   :effects #{},
   :body
   (let
    [s
     (record-get
      [:record :deploy/digits-go [[:s :string] [:acc :i64]]]
      x
      :s)
     acc
     (record-get
      [:record :deploy/digits-go [[:s :string] [:acc :i64]]]
      x
      :acc)
     n
     (string-byte-length s)]
    (if
     (= n 0)
     acc
     (let
      [c (string-substring s 0 1)]
      (if
       (digit-val? c)
       (parse-digits-go
        (record-new
         [:record :deploy/digits-go [[:s :string] [:acc :i64]]]
         (string-substring s 1 n)
         (+ (* acc 10) (digit-of c))))
       -1)))),
   :param-types [[:ref :deploy/digits-go]]}
  {:name parse-digits,
   :params [s],
   :result :i64,
   :effects #{},
   :body
   (let
    [t (trim-ws s) n (string-byte-length t)]
    (if
     (= n 0)
     -1
     (parse-digits-go
      (record-new
       [:record :deploy/digits-go [[:s :string] [:acc :i64]]]
       t
       0)))),
   :param-types [:string]}
  {:name execution-observed?,
   :params [grep-count-out],
   :result :bool,
   :effects #{},
   :body
   (let [n (parse-digits grep-count-out)] (if (< n 1) false true)),
   :param-types [:string]}
  {:name execution-count-command,
   :params [cid],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (exec-count-prefix)
    (string-concat cid (exec-count-suffix))),
   :param-types [:string]}
  {:name join-path,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (record-get
     [:record :deploy/join-path [[:a :string] [:b :string]]]
     x
     :a)
    (string-concat
     (path-sep)
     (record-get
      [:record :deploy/join-path [[:a :string] [:b :string]]]
      x
      :b))),
   :param-types [[:ref :deploy/join-path]]}
  {:name release-wit-path,
   :params [release-dir],
   :result :string,
   :effects #{},
   :body (string-concat release-dir (release-wit-suffix)),
   :param-types [:string]}
  {:name stop-forward-command,
   :params [local-port],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (pkill-f-prefix)
    (string-concat (i64-str local-port) (stop-forward-suffix))),
   :param-types [:i64]}
  {:name absolute-unix-git-bin?,
   :params [p],
   :result :bool,
   :effects #{},
   :body
   (if
    (blank? p)
    false
    (if
     (string=? p "git")
     false
     (if
      (< (string-byte-length p) 1)
      false
      (if
       (string=? (string-substring p 0 1) (path-sep))
       true
       false)))),
   :param-types [:string]}
  {:name cp-bin,
   :params [],
   :result :string,
   :effects #{},
   :body "cp",
   :param-types []}
  {:name rm-bin,
   :params [],
   :result :string,
   :effects #{},
   :body "rm",
   :param-types []}
  {:name rm-rf-flag,
   :params [],
   :result :string,
   :effects #{},
   :body "-rf",
   :param-types []}
  {:name cp-recursive-flag,
   :params [],
   :result :string,
   :effects #{},
   :body "-R",
   :param-types []}
  {:name git-c-flag,
   :params [],
   :result :string,
   :effects #{},
   :body "-C",
   :param-types []}
  {:name git-rev-parse,
   :params [],
   :result :string,
   :effects #{},
   :body "rev-parse",
   :param-types []}
  {:name git-short-flag,
   :params [],
   :result :string,
   :effects #{},
   :body "--short",
   :param-types []}
  {:name git-head-ref,
   :params [],
   :result :string,
   :effects #{},
   :body "HEAD",
   :param-types []}
  {:name version-flag,
   :params [],
   :result :string,
   :effects #{},
   :body "--version",
   :param-types []}
  {:name version-bin-path,
   :params [dest],
   :result :string,
   :effects #{},
   :body
   (join-path
    (record-new
     [:record :deploy/join-path [[:a :string] [:b :string]]]
     dest
     (pin-bin-kotoba))),
   :param-types [:string]}
  {:name build-features,
   :params [],
   :result :string,
   :effects #{},
   :body "p2p,realtime-wasm,webrtc",
   :param-types []}
  {:name missing-manifest?,
   :params [manifest],
   :result :bool,
   :effects #{},
   :body (blank? manifest),
   :param-types [:string]}
  {:name missing-operator-seed?,
   :params [operator-seed],
   :result :bool,
   :effects #{},
   :body (blank? operator-seed),
   :param-types [:string]}
  {:name pin-wit-dirname,
   :params [],
   :result :string,
   :effects #{},
   :body "wit",
   :param-types []}
  {:name pin-wit-dest,
   :params [dest],
   :result :string,
   :effects #{},
   :body
   (join-path
    (record-new
     [:record :deploy/join-path [[:a :string] [:b :string]]]
     dest
     (pin-wit-dirname))),
   :param-types [:string]}],
 :oracle-value nil,
 :schema-identities
 #:deploy{:app-deploy
          "ba55ebbc84ec9f27cd3c0a515ddf4fe1568ffa8ab30d19a698ab5a8cba5d89f7",
          :app-manifest
          "35539fca1dca53476f3b92c1a6408bfe20fda0e5e2b6f064366299b95bea1ef3",
          :component-build
          "fce0a44e915a65a97b87b7192a98954592c1b2fd268be46d2bc6bdfdfd76e140",
          :digit-of-go
          "53459406d493d475b5e1f47b935c9e0c96da4f6bac1a87cc1d4e4687c04672c4",
          :digits-go
          "e47d718d8c08ff1be5e66af428ad56ea281125fd1f991cc58c8a930486d811b5",
          :join-path
          "7b3ed07954b98c33b3b195aeb9983749166acbfa89da849e2aa347fda4b463a8",
          :last-slash
          "7a8e507e8659118363f19fb5dd00ee2975ae770bf6f44553a9d4e87de0cba7c2"},
 :exports
 [default-wasm
  default-publish-node
  artifact-forward-port
  publish-forward-port
  forward-settle-ms
  placement-wait-ms
  digit-char
  nat-str
  i64-str
  app-manifest-path
  publish-selector
  localhost-url
  last-slash-index
  manifest-dir
  command-output
  component-build-cmd
  app-deploy-cmd
  digit-val?
  digit-of
  parse-digits-go
  parse-digits
  trim-ws
  execution-observed?
  execution-count-command
  release-wit-path
  stop-forward-command
  absolute-unix-git-bin?
  blank?
  pin-bin-kotoba
  pin-bin-server
  join-path
  release-wit-suffix
  pin-wit-dirname
  pin-wit-dest
  cp-bin
  rm-bin
  rm-rf-flag
  cp-recursive-flag
  git-c-flag
  git-rev-parse
  git-short-flag
  git-head-ref
  version-flag
  version-bin-path
  build-features
  missing-manifest?
  missing-operator-seed?
  component-subcmd
  build-subcmd
  app-subcmd
  deploy-subcmd
  wit-dir-flag
  output-flag
  publish-flag
  url-flag
  token-flag
  block-subcmd
  put-subcmd
  file-flag
  argv-join-sep
  localhost-url-prefix
  path-sep
  exec-count-prefix
  exec-count-suffix
  pkill-f-prefix
  stop-forward-suffix],
 :schemas
 #:deploy{:join-path
          [:record :deploy/join-path [[:a :string] [:b :string]]],
          :app-manifest
          [:record
           :deploy/app-manifest
           [[:manifest-dir :string] [:manifest :string]]],
          :component-build
          [:record
           :deploy/component-build
           [[:kotoba :string]
            [:src-path :string]
            [:wit :string]
            [:wasm :string]]],
          :app-deploy
          [:record
           :deploy/app-deploy
           [[:kotoba :string]
            [:manifest :string]
            [:wit :string]
            [:port :i64]]],
          :last-slash
          [:record
           :deploy/last-slash
           [[:s :string] [:i :i64] [:best :i64]]],
          :digit-of-go
          [:record
           :deploy/digit-of-go
           [[:digits :string] [:c :string] [:i :i64]]],
          :digits-go
          [:record :deploy/digits-go [[:s :string] [:acc :i64]]]},
 :effects #{},
 :blocks [],
 :entry nil}
