{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-control-port,
   :params [],
   :result :i64,
   :effects #{},
   :body 8077,
   :param-types []}
  {:name selector-all,
   :params [],
   :result :string,
   :effects #{},
   :body "all",
   :param-types []}
  {:name offline-token,
   :params [],
   :result :string,
   :effects #{},
   :body "offline",
   :param-types []}
  {:name health-url-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "http://localhost:",
   :param-types []}
  {:name health-url-path,
   :params [],
   :result :string,
   :effects #{},
   :body "/health",
   :param-types []}
  {:name selector-join-sep,
   :params [],
   :result :string,
   :effects #{},
   :body ",",
   :param-types []}
  {:name digit-char,
   :params [d],
   :result :string,
   :effects #{},
   :body (string-substring "0123456789" d (+ d 1)),
   :param-types [:i64]}
  {:name nat-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (digit-char n)
    (string-concat
     (nat-str (quot n 10))
     (digit-char (- n (* (quot n 10) 10))))),
   :param-types [:i64]}
  {:name i64-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if (< n 0) (string-concat "-" (nat-str (- 0 n))) (nat-str n)),
   :param-types [:i64]}
  {:name resolve-port,
   :params [x],
   :result :i64,
   :effects #{},
   :body
   (let
    [__kotoba_binding-some_1
     (record-get
      [:record
       :fleet/ports
       [[:node-port [:option :i64]] [:fleet-port [:option :i64]]]]
      x
      :node-port)]
    (if
     (option-some?-of [:option :i64] __kotoba_binding-some_1)
     (let
      [p (option-value-of [:option :i64] __kotoba_binding-some_1 0)]
      p)
     (let
      [__kotoba_binding-some_2
       (record-get
        [:record
         :fleet/ports
         [[:node-port [:option :i64]] [:fleet-port [:option :i64]]]]
        x
        :fleet-port)]
      (if
       (option-some?-of [:option :i64] __kotoba_binding-some_2)
       (let
        [f (option-value-of [:option :i64] __kotoba_binding-some_2 0)]
        f)
       (default-control-port))))),
   :param-types [[:ref :fleet/ports]]}
  {:name health-url,
   :params [port],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (health-url-prefix)
    (string-concat (__kotoba_string_from_i64 port) (health-url-path))),
   :param-types [:i64]}
  {:name selector-is-all?,
   :params [sel],
   :result :bool,
   :effects #{},
   :body (if (string=? sel "") true (string=? sel (selector-all))),
   :param-types [:string]}
  {:name selector-wants-name?,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (let
    [sel
     (record-get
      [:record :fleet/selector-name [[:sel :string] [:name :string]]]
      x
      :sel)
     name
     (record-get
      [:record :fleet/selector-name [[:sel :string] [:name :string]]]
      x
      :name)
     sep
     (selector-join-sep)]
    (string-contains?
     (string-concat sep (string-concat sel sep))
     (string-concat sep (string-concat name sep)))),
   :param-types [[:ref :fleet/selector-name]]}
  {:name line-has-offline?,
   :params [line],
   :result :bool,
   :effects #{},
   :body (string-contains? line (offline-token)),
   :param-types [:string]}
  {:name __kotoba_string_from_i64_nat,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (string-substring "0123456789" n (+ n 1))
    (string-concat
     (__kotoba_string_from_i64_nat (quot n 10))
     (string-substring
      "0123456789"
      (- n (* (quot n 10) 10))
      (+ (- n (* (quot n 10) 10)) 1)))),
   :param-types [:i64]}
  {:name __kotoba_string_from_i64,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 0)
    (string-concat "-" (__kotoba_string_from_i64_nat (- 0 n)))
    (__kotoba_string_from_i64_nat n)),
   :param-types [:i64]}],
 :oracle-value nil,
 :schema-identities
 #:fleet{:ports
         "44d55ad7a211037dd8c9307a17b9b5b9e529ef89d498e06cdf671e4c1b9de9e9",
         :selector-name
         "271a3e312883014557a9afda98b2a91686f79ea6361473f9b85b26c827083c30"},
 :exports
 [default-control-port
  digit-char
  nat-str
  i64-str
  resolve-port
  health-url
  selector-is-all?
  selector-wants-name?
  line-has-offline?
  selector-all
  offline-token
  health-url-prefix
  health-url-path
  selector-join-sep],
 :schemas
 #:fleet{:ports
         [:record
          :fleet/ports
          [[:node-port [:option :i64]] [:fleet-port [:option :i64]]]],
         :selector-name
         [:record
          :fleet/selector-name
          [[:sel :string] [:name :string]]]},
 :effects #{},
 :blocks [],
 :entry nil}
