{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-control-port,
   :params [],
   :result :i64,
   :effects #{},
   :body 8077,
   :param-types []}
  {:name selector-all,
   :params [],
   :result :string,
   :effects #{},
   :body "all",
   :param-types []}
  {:name offline-token,
   :params [],
   :result :string,
   :effects #{},
   :body "offline",
   :param-types []}
  {:name health-url-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "http://localhost:",
   :param-types []}
  {:name health-url-path,
   :params [],
   :result :string,
   :effects #{},
   :body "/health",
   :param-types []}
  {:name selector-join-sep,
   :params [],
   :result :string,
   :effects #{},
   :body ",",
   :param-types []}
  {:name digit-char,
   :params [d],
   :result :string,
   :effects #{},
   :body (string-substring "0123456789" d (+ d 1)),
   :param-types [:i64]}
  {:name nat-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (digit-char n)
    (string-concat
     (nat-str (quot n 10))
     (digit-char (- n (* (quot n 10) 10))))),
   :param-types [:i64]}
  {:name i64-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if (< n 0) (string-concat "-" (nat-str (- 0 n))) (nat-str n)),
   :param-types [:i64]}
  {:name resolve-port,
   :params [node-port fleet-port],
   :result :i64,
   :effects #{},
   :body
   (let
    [binding-some__1 node-port]
    (if
     (option-some?-of [:option :i64] binding-some__1)
     (let [p (option-value-of [:option :i64] binding-some__1 0)] p)
     (let
      [binding-some__2 fleet-port]
      (if
       (option-some?-of [:option :i64] binding-some__2)
       (let [f (option-value-of [:option :i64] binding-some__2 0)] f)
       (default-control-port))))),
   :param-types [[:option :i64] [:option :i64]]}
  {:name health-url,
   :params [port],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (health-url-prefix)
    (string-concat (__kotoba_string_from_i64 port) (health-url-path))),
   :param-types [:i64]}
  {:name selector-is-all?,
   :params [sel],
   :result :i64,
   :effects #{},
   :body
   (if (string=? sel "") 1 (if (string=? sel (selector-all)) 1 0)),
   :param-types [:string]}
  {:name selector-wants-name?,
   :params [sel name],
   :result :i64,
   :effects #{},
   :body
   (let
    [sep (selector-join-sep)]
    (if
     (string-contains?
      (string-concat sep (string-concat sel sep))
      (string-concat sep (string-concat name sep)))
     1
     0)),
   :param-types [:string :string]}
  {:name line-has-offline?,
   :params [line],
   :result :i64,
   :effects #{},
   :body (if (string-contains? line (offline-token)) 1 0),
   :param-types [:string]}
  {:name __kotoba_string_from_i64_nat,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (string-substring "0123456789" n (+ n 1))
    (string-concat
     (__kotoba_string_from_i64_nat (quot n 10))
     (string-substring
      "0123456789"
      (- n (* (quot n 10) 10))
      (+ (- n (* (quot n 10) 10)) 1)))),
   :param-types [:i64]}
  {:name __kotoba_string_from_i64,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 0)
    (string-concat "-" (__kotoba_string_from_i64_nat (- 0 n)))
    (__kotoba_string_from_i64_nat n)),
   :param-types [:i64]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [default-control-port
  digit-char
  nat-str
  i64-str
  resolve-port
  health-url
  selector-is-all?
  selector-wants-name?
  line-has-offline?
  selector-all
  offline-token
  health-url-prefix
  health-url-path
  selector-join-sep],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
