{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name shard-ceiling-gb,
   :params [],
   :result :i64,
   :effects #{},
   :body 10,
   :param-types []}
  {:name os-kv-headroom-gb,
   :params [],
   :result :i64,
   :effects #{},
   :body 6,
   :param-types []}
  {:name usable-gb,
   :params [ram-gb],
   :result :i64,
   :effects #{},
   :body
   (let
    [raw
     (- ram-gb 6)
     floored
     (if (< raw 0) 0 raw)
     ceil
     (shard-ceiling-gb)]
    (if (< floored ceil) floored ceil)),
   :param-types [:i64]}
  {:name pool-for-class,
   :params [cls],
   :result :string,
   :effects #{},
   :body
   (if
    (string=? cls "text")
    "text-pool"
    (if
     (string=? cls "postproc")
     "postproc-pool"
     (if
      (if
       (string=? cls "image")
       1
       (if (string=? cls "video") 1 (if (string=? cls "audio") 1 0)))
      "media-pool"
      "text-pool"))),
   :param-types [:string]}
  {:name rem64,
   :params [a b],
   :result :i64,
   :effects #{},
   :body (- a (* (quot a b) b)),
   :param-types [:i64 :i64]}
  {:name weight-pos?,
   :params [w],
   :result :bool,
   :effects #{},
   :body (if (< 0 w) true false),
   :param-types [:i64]}
  {:name count-active,
   :params [wt wm wp],
   :result :i64,
   :effects #{},
   :body
   (+
    (if (weight-pos? wt) 1 0)
    (+ (if (weight-pos? wm) 1 0) (if (weight-pos? wp) 1 0))),
   :param-types [:i64 :i64 :i64]}
  {:name min2,
   :params [a b],
   :result :i64,
   :effects #{},
   :body (if (< a b) a b),
   :param-types [:i64 :i64]}
  {:name max2,
   :params [a b],
   :result :i64,
   :effects #{},
   :body (if (< a b) b a),
   :param-types [:i64 :i64]}
  {:name better-bump?,
   :params [rem-a idx-a rem-b idx-b],
   :result :bool,
   :effects #{},
   :body
   (if
    (< rem-b rem-a)
    true
    (if (< rem-a rem-b) false (if (< idx-a idx-b) true false))),
   :param-types [:i64 :i64 :i64 :i64]}
  {:name pick-bump-3,
   :params [ok-t ok-m ok-p rems],
   :result :i64,
   :effects #{},
   :body
   (let
    [rt
     (record-get
      [:record
       :rebalance/lanes
       [[:text :i64] [:media :i64] [:postproc :i64]]]
      rems
      :text)
     rm
     (record-get
      [:record
       :rebalance/lanes
       [[:text :i64] [:media :i64] [:postproc :i64]]]
      rems
      :media)
     rp
     (record-get
      [:record
       :rebalance/lanes
       [[:text :i64] [:media :i64] [:postproc :i64]]]
      rems
      :postproc)]
    (if
     ok-t
     (if
      ok-m
      (let
       [win-tm
        (if (better-bump? rt 0 rm 1) 0 1)
        r-win
        (if (= win-tm 0) rt rm)
        i-win
        win-tm]
       (if ok-p (if (better-bump? r-win i-win rp 2) win-tm 2) win-tm))
      (if ok-p (if (better-bump? rt 0 rp 2) 0 2) 0))
     (if
      ok-m
      (if ok-p (if (better-bump? rm 1 rp 2) 1 2) 1)
      (if ok-p 2 -1)))),
   :param-types
   [:bool
    :bool
    :bool
    [:record
     :rebalance/lanes
     [[:text :i64] [:media :i64] [:postproc :i64]]]]}
  {:name ok-for,
   :params [active bumped],
   :result :bool,
   :effects #{},
   :body (if active (if bumped false true) false),
   :param-types [:bool :bool]}
  {:name seats-record,
   :params [total wt wm wp floor],
   :result
   [:record
    :rebalance/lanes
    [[:text :i64] [:media :i64] [:postproc :i64]]],
   :effects #{},
   :body
   (let
    [at
     (weight-pos? wt)
     am
     (weight-pos? wm)
     ap
     (weight-pos? wp)
     n-active
     (count-active wt wm wp)]
    (if
     (if (= total 0) 1 (if (= n-active 0) 1 0))
     (record-new
      [:record
       :rebalance/lanes
       [[:text :i64] [:media :i64] [:postproc :i64]]]
      0
      0
      0)
     (let
      [eff-floor
       (min2 floor (quot total n-active))
       bt
       (if at eff-floor 0)
       bm
       (if am eff-floor 0)
       bp
       (if ap eff-floor 0)
       left0
       (- total (+ bt (+ bm bp)))
       left
       (max2 0 left0)
       sumw
       (+ (if at wt 0) (+ (if am wm 0) (if ap wp 0)))
       pt
       (if at (* left wt) 0)
       pm
       (if am (* left wm) 0)
       pp
       (if ap (* left wp) 0)
       ft
       (if at (quot pt sumw) 0)
       fm
       (if am (quot pm sumw) 0)
       fp
       (if ap (quot pp sumw) 0)
       rt
       (if at (rem64 pt sumw) 0)
       rm
       (if am (rem64 pm sumw) 0)
       rp
       (if ap (rem64 pp sumw) 0)
       assigned
       (+ ft (+ fm fp))
       extra
       (- left assigned)
       rems
       (record-new
        [:record
         :rebalance/lanes
         [[:text :i64] [:media :i64] [:postproc :i64]]]
        rt
        rm
        rp)
       b0
       (if
        (< 0 extra)
        (pick-bump-3
         (ok-for at false)
         (ok-for am false)
         (ok-for ap false)
         rems)
        -1)
       bt0
       (if (= b0 0) true false)
       bm0
       (if (= b0 1) true false)
       bp0
       (if (= b0 2) true false)
       b1
       (if
        (< 1 extra)
        (pick-bump-3
         (ok-for at bt0)
         (ok-for am bm0)
         (ok-for ap bp0)
         rems)
        -1)
       bt1
       (if (= b1 0) true bt0)
       bm1
       (if (= b1 1) true bm0)
       bp1
       (if (= b1 2) true bp0)
       b2
       (if
        (< 2 extra)
        (pick-bump-3
         (ok-for at bt1)
         (ok-for am bm1)
         (ok-for ap bp1)
         rems)
        -1)
       bump-t
       (if (if (= b0 0) 1 (if (= b1 0) 1 (if (= b2 0) 1 0))) 1 0)
       bump-m
       (if (if (= b0 1) 1 (if (= b1 1) 1 (if (= b2 1) 1 0))) 1 0)
       bump-p
       (if (if (= b0 2) 1 (if (= b1 2) 1 (if (= b2 2) 1 0))) 1 0)
       st
       (+ bt (+ ft bump-t))
       sm
       (+ bm (+ fm bump-m))
       sp
       (+ bp (+ fp bump-p))]
      (record-new
       [:record
        :rebalance/lanes
        [[:text :i64] [:media :i64] [:postproc :i64]]]
       st
       sm
       sp)))),
   :param-types [:i64 :i64 :i64 :i64 :i64]}
  {:name seats-of-text,
   :params [total wt wm wp floor],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :rebalance/lanes
     [[:text :i64] [:media :i64] [:postproc :i64]]]
    (seats-record total wt wm wp floor)
    :text),
   :param-types [:i64 :i64 :i64 :i64 :i64]}
  {:name seats-of-media,
   :params [total wt wm wp floor],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :rebalance/lanes
     [[:text :i64] [:media :i64] [:postproc :i64]]]
    (seats-record total wt wm wp floor)
    :media),
   :param-types [:i64 :i64 :i64 :i64 :i64]}
  {:name seats-of-postproc,
   :params [total wt wm wp floor],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :rebalance/lanes
     [[:text :i64] [:media :i64] [:postproc :i64]]]
    (seats-record total wt wm wp floor)
    :postproc),
   :param-types [:i64 :i64 :i64 :i64 :i64]}
  {:name seats-total,
   :params [total wt wm wp floor],
   :result :i64,
   :effects #{},
   :body
   (+
    (seats-of-text total wt wm wp floor)
    (+
     (seats-of-media total wt wm wp floor)
     (seats-of-postproc total wt wm wp floor))),
   :param-types [:i64 :i64 :i64 :i64 :i64]}
  {:name pool-demand-record,
   :params [text image video audio postproc],
   :result [:ref :rebalance/lanes],
   :effects #{},
   :body
   (let
    [wt text wm (+ image (+ video audio)) wp postproc]
    (record-new
     [:record
      :rebalance/lanes
      [[:text :i64] [:media :i64] [:postproc :i64]]]
     wt
     wm
     wp)),
   :param-types [:i64 :i64 :i64 :i64 :i64]}
  {:name pool-weight-text,
   :params [w],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :rebalance/lanes
     [[:text :i64] [:media :i64] [:postproc :i64]]]
    w
    :text),
   :param-types [[:ref :rebalance/lanes]]}
  {:name pool-weight-media,
   :params [w],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :rebalance/lanes
     [[:text :i64] [:media :i64] [:postproc :i64]]]
    w
    :media),
   :param-types [[:ref :rebalance/lanes]]}
  {:name pool-weight-postproc,
   :params [w],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :rebalance/lanes
     [[:text :i64] [:media :i64] [:postproc :i64]]]
    w
    :postproc),
   :param-types [[:ref :rebalance/lanes]]}
  {:name pool-seats-of-text,
   :params [total w floor],
   :result :i64,
   :effects #{},
   :body
   (seats-of-text
    total
    (record-get
     [:record
      :rebalance/lanes
      [[:text :i64] [:media :i64] [:postproc :i64]]]
     w
     :text)
    (record-get
     [:record
      :rebalance/lanes
      [[:text :i64] [:media :i64] [:postproc :i64]]]
     w
     :media)
    (record-get
     [:record
      :rebalance/lanes
      [[:text :i64] [:media :i64] [:postproc :i64]]]
     w
     :postproc)
    floor),
   :param-types [:i64 [:ref :rebalance/lanes] :i64]}
  {:name pool-seats-of-media,
   :params [total w floor],
   :result :i64,
   :effects #{},
   :body
   (seats-of-media
    total
    (record-get
     [:record
      :rebalance/lanes
      [[:text :i64] [:media :i64] [:postproc :i64]]]
     w
     :text)
    (record-get
     [:record
      :rebalance/lanes
      [[:text :i64] [:media :i64] [:postproc :i64]]]
     w
     :media)
    (record-get
     [:record
      :rebalance/lanes
      [[:text :i64] [:media :i64] [:postproc :i64]]]
     w
     :postproc)
    floor),
   :param-types [:i64 [:ref :rebalance/lanes] :i64]}
  {:name pool-seats-of-postproc,
   :params [total w floor],
   :result :i64,
   :effects #{},
   :body
   (seats-of-postproc
    total
    (record-get
     [:record
      :rebalance/lanes
      [[:text :i64] [:media :i64] [:postproc :i64]]]
     w
     :text)
    (record-get
     [:record
      :rebalance/lanes
      [[:text :i64] [:media :i64] [:postproc :i64]]]
     w
     :media)
    (record-get
     [:record
      :rebalance/lanes
      [[:text :i64] [:media :i64] [:postproc :i64]]]
     w
     :postproc)
    floor),
   :param-types [:i64 [:ref :rebalance/lanes] :i64]}
  {:name classify-run-flags,
   :params [images video audio swarm tokens],
   :result :i64,
   :effects #{},
   :body
   (let
    [__kotoba_binding-some_1 images]
    (if
     (option-some?-of [:option :string] __kotoba_binding-some_1)
     (let
      [_
       (option-value-of [:option :string] __kotoba_binding-some_1 "")]
      2)
     (let
      [__kotoba_binding-some_2 video]
      (if
       (option-some?-of [:option :string] __kotoba_binding-some_2)
       (let
        [_
         (option-value-of
          [:option :string]
          __kotoba_binding-some_2
          "")]
        3)
       (let
        [__kotoba_binding-some_3 audio]
        (if
         (option-some?-of [:option :string] __kotoba_binding-some_3)
         (let
          [_
           (option-value-of
            [:option :string]
            __kotoba_binding-some_3
            "")]
          4)
         (let
          [__kotoba_binding-some_4 swarm]
          (if
           (option-some?-of [:option :string] __kotoba_binding-some_4)
           (let
            [_
             (option-value-of
              [:option :string]
              __kotoba_binding-some_4
              "")]
            5)
           (let
            [__kotoba_binding-some_5 tokens]
            (if
             (option-some?-of
              [:option :string]
              __kotoba_binding-some_5)
             (let
              [_
               (option-value-of
                [:option :string]
                __kotoba_binding-some_5
                "")]
              1)
             0)))))))))),
   :param-types
   [[:option :string]
    [:option :string]
    [:option :string]
    [:option :string]
    [:option :string]]}
  {:name demand-empty,
   :params [],
   :result [:ref :rebalance/demand],
   :effects #{},
   :body
   (record-new
    [:record
     :rebalance/demand
     [[:text :i64]
      [:image :i64]
      [:video :i64]
      [:audio :i64]
      [:postproc :i64]]]
    0
    0
    0
    0
    0),
   :param-types []}
  {:name demand-text,
   :params [d],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :rebalance/demand
     [[:text :i64]
      [:image :i64]
      [:video :i64]
      [:audio :i64]
      [:postproc :i64]]]
    d
    :text),
   :param-types [[:ref :rebalance/demand]]}
  {:name demand-image,
   :params [d],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :rebalance/demand
     [[:text :i64]
      [:image :i64]
      [:video :i64]
      [:audio :i64]
      [:postproc :i64]]]
    d
    :image),
   :param-types [[:ref :rebalance/demand]]}
  {:name demand-video,
   :params [d],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :rebalance/demand
     [[:text :i64]
      [:image :i64]
      [:video :i64]
      [:audio :i64]
      [:postproc :i64]]]
    d
    :video),
   :param-types [[:ref :rebalance/demand]]}
  {:name demand-audio,
   :params [d],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :rebalance/demand
     [[:text :i64]
      [:image :i64]
      [:video :i64]
      [:audio :i64]
      [:postproc :i64]]]
    d
    :audio),
   :param-types [[:ref :rebalance/demand]]}
  {:name demand-postproc,
   :params [d],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :rebalance/demand
     [[:text :i64]
      [:image :i64]
      [:video :i64]
      [:audio :i64]
      [:postproc :i64]]]
    d
    :postproc),
   :param-types [[:ref :rebalance/demand]]}
  {:name demand-record,
   :params [t i v a p],
   :result [:ref :rebalance/demand],
   :effects #{},
   :body
   (record-new
    [:record
     :rebalance/demand
     [[:text :i64]
      [:image :i64]
      [:video :i64]
      [:audio :i64]
      [:postproc :i64]]]
    t
    i
    v
    a
    p),
   :param-types [:i64 :i64 :i64 :i64 :i64]}
  {:name demand-inc,
   :params [d class-code],
   :result [:ref :rebalance/demand],
   :effects #{},
   :body
   (let
    [t
     (record-get
      [:record
       :rebalance/demand
       [[:text :i64]
        [:image :i64]
        [:video :i64]
        [:audio :i64]
        [:postproc :i64]]]
      d
      :text)
     i
     (record-get
      [:record
       :rebalance/demand
       [[:text :i64]
        [:image :i64]
        [:video :i64]
        [:audio :i64]
        [:postproc :i64]]]
      d
      :image)
     v
     (record-get
      [:record
       :rebalance/demand
       [[:text :i64]
        [:image :i64]
        [:video :i64]
        [:audio :i64]
        [:postproc :i64]]]
      d
      :video)
     a
     (record-get
      [:record
       :rebalance/demand
       [[:text :i64]
        [:image :i64]
        [:video :i64]
        [:audio :i64]
        [:postproc :i64]]]
      d
      :audio)
     p
     (record-get
      [:record
       :rebalance/demand
       [[:text :i64]
        [:image :i64]
        [:video :i64]
        [:audio :i64]
        [:postproc :i64]]]
      d
      :postproc)]
    (if
     (= class-code 1)
     (demand-record (+ t 1) i v a p)
     (if
      (= class-code 2)
      (demand-record t (+ i 1) v a p)
      (if
       (= class-code 3)
       (demand-record t i (+ v 1) a p)
       (if
        (= class-code 4)
        (demand-record t i v (+ a 1) p)
        (if (= class-code 5) (demand-record t i v a (+ p 1)) d)))))),
   :param-types [[:ref :rebalance/demand] :i64]}
  {:name demand-to-pool-record,
   :params [d],
   :result [:ref :rebalance/lanes],
   :effects #{},
   :body
   (pool-demand-record
    (record-get
     [:record
      :rebalance/demand
      [[:text :i64]
       [:image :i64]
       [:video :i64]
       [:audio :i64]
       [:postproc :i64]]]
     d
     :text)
    (record-get
     [:record
      :rebalance/demand
      [[:text :i64]
       [:image :i64]
       [:video :i64]
       [:audio :i64]
       [:postproc :i64]]]
     d
     :image)
    (record-get
     [:record
      :rebalance/demand
      [[:text :i64]
       [:image :i64]
       [:video :i64]
       [:audio :i64]
       [:postproc :i64]]]
     d
     :video)
    (record-get
     [:record
      :rebalance/demand
      [[:text :i64]
       [:image :i64]
       [:video :i64]
       [:audio :i64]
       [:postproc :i64]]]
     d
     :audio)
    (record-get
     [:record
      :rebalance/demand
      [[:text :i64]
       [:image :i64]
       [:video :i64]
       [:audio :i64]
       [:postproc :i64]]]
     d
     :postproc)),
   :param-types [[:ref :rebalance/demand]]}
  {:name workers-count,
   :params [online],
   :result :i64,
   :effects #{},
   :body (if (< online 1) 0 (- online 1)),
   :param-types [:i64]}
  {:name seats-for-online-text,
   :params [online w floor],
   :result :i64,
   :effects #{},
   :body (pool-seats-of-text (workers-count online) w floor),
   :param-types [:i64 [:ref :rebalance/lanes] :i64]}
  {:name seats-for-online-media,
   :params [online w floor],
   :result :i64,
   :effects #{},
   :body (pool-seats-of-media (workers-count online) w floor),
   :param-types [:i64 [:ref :rebalance/lanes] :i64]}
  {:name seats-for-online-postproc,
   :params [online w floor],
   :result :i64,
   :effects #{},
   :body (pool-seats-of-postproc (workers-count online) w floor),
   :param-types [:i64 [:ref :rebalance/lanes] :i64]}
  {:name seats-equal,
   :params [a b],
   :result :i64,
   :effects #{},
   :body (if (= a b) 1 0),
   :param-types [:i64 :i64]}
  {:name pipeline-effective-gb,
   :params [usable-gb text-seats],
   :result :i64,
   :effects #{},
   :body (* usable-gb text-seats),
   :param-types [:i64 :i64]}
  {:name node-online?,
   :params [status],
   :result :bool,
   :effects #{},
   :body (if (string=? status "up") true false),
   :param-types [:string]}
  {:name move-needed,
   :params [from-pool to-pool],
   :result :bool,
   :effects #{},
   :body (if (= from-pool to-pool) false true),
   :param-types [:i64 :i64]}
  {:name rebalance-reason-code,
   :params [assigned-count move-count],
   :result :i64,
   :effects #{},
   :body (if (= assigned-count 0) 1 (if (< 0 move-count) 2 0)),
   :param-types [:i64 :i64]}
  {:name rebalance-reason-name,
   :params [code],
   :result :string,
   :effects #{},
   :body
   (if
    (= code 1)
    "initial placement"
    (if (= code 2) "demand-shift" "stable")),
   :param-types [:i64]}
  {:name digit-char,
   :params [d],
   :result :string,
   :effects #{},
   :body (string-substring "0123456789" d (+ d 1)),
   :param-types [:i64]}
  {:name nat-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (digit-char n)
    (string-concat
     (nat-str (quot n 10))
     (digit-char (- n (* (quot n 10) 10))))),
   :param-types [:i64]}
  {:name i64-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if (< n 0) (string-concat "-" (nat-str (- 0 n))) (nat-str n)),
   :param-types [:i64]}
  {:name pool-code,
   :params [name],
   :result :i64,
   :effects #{},
   :body
   (if
    (string=? name "text-pool")
    0
    (if
     (string=? name "media-pool")
     1
     (if (string=? name "postproc-pool") 2 -1))),
   :param-types [:string]}
  {:name pool-name,
   :params [code],
   :result :string,
   :effects #{},
   :body
   (if
    (= code 0)
    "text-pool"
    (if
     (= code 1)
     "media-pool"
     (if (= code 2) "postproc-pool" "unknown"))),
   :param-types [:i64]}
  {:name seat-of,
   :params [code st sm sp],
   :result :i64,
   :effects #{},
   :body (if (= code 0) st (if (= code 1) sm sp)),
   :param-types [:i64 :i64 :i64 :i64]}
  {:name before-pool?,
   :params [ia ib st sm sp],
   :result :bool,
   :effects #{},
   :body
   (let
    [sa (seat-of ia st sm sp) sb (seat-of ib st sm sp)]
    (if
     (< sb sa)
     true
     (if (< sa sb) false (if (< ia ib) true false)))),
   :param-types [:i64 :i64 :i64 :i64 :i64]}
  {:name seat-order-record,
   :params [st sm sp],
   :result [:ref :rebalance/order],
   :effects #{},
   :body
   (let
    [p0
     (if (before-pool? 0 1 st sm sp) 0 1)
     p1
     (if (before-pool? 0 1 st sm sp) 1 0)
     q1
     (if (before-pool? p1 2 st sm sp) p1 2)
     q2
     (if (before-pool? p1 2 st sm sp) 2 p1)
     r0
     (if (before-pool? p0 q1 st sm sp) p0 q1)
     r1
     (if (before-pool? p0 q1 st sm sp) q1 p0)]
    (record-new
     [:record :rebalance/order [[:i0 :i64] [:i1 :i64] [:i2 :i64]]]
     r0
     r1
     q2)),
   :param-types [:i64 :i64 :i64]}
  {:name order-nth,
   :params [ord n],
   :result :i64,
   :effects #{},
   :body
   (if
    (= n 0)
    (record-get
     [:record :rebalance/order [[:i0 :i64] [:i1 :i64] [:i2 :i64]]]
     ord
     :i0)
    (if
     (= n 1)
     (record-get
      [:record :rebalance/order [[:i0 :i64] [:i1 :i64] [:i2 :i64]]]
      ord
      :i1)
     (record-get
      [:record :rebalance/order [[:i0 :i64] [:i1 :i64] [:i2 :i64]]]
      ord
      :i2))),
   :param-types [[:ref :rebalance/order] :i64]}
  {:name take-end,
   :params [start k remaining],
   :result :i64,
   :effects #{},
   :body (min2 remaining (+ start k)),
   :param-types [:i64 :i64 :i64]}
  {:name take-count,
   :params [start end],
   :result :i64,
   :effects #{},
   :body (max2 0 (- end start)),
   :param-types [:i64 :i64]}
  {:name pipeline-note,
   :params [text-n usable],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "text pool sharded as a "
    (string-concat
     (i64-str text-n)
     (string-concat
      "-way pipeline (~"
      (string-concat
       (i64-str (* usable text-n))
       (string-concat
        "GB effective, ceiling "
        (string-concat (i64-str (shard-ceiling-gb)) "GB/node)")))))),
   :param-types [:i64 :i64]}
  {:name rebalance-reason-detail,
   :params [code move-count],
   :result :string,
   :effects #{},
   :body
   (if
    (= code 2)
    (string-concat
     (i64-str move-count)
     " node(s) re-placed by demand shift")
    (rebalance-reason-name code)),
   :param-types [:i64 :i64]}],
 :oracle-value nil,
 :schema-identities
 #:rebalance{:demand
             "fc2b7438daf24673bc1139980fc42c74ac2a98ce27f78c92f96d67b1083a8b4c",
             :lanes
             "86e19a06d328f02a730c88cbd8682ac387d8ec7be02cdf9d8198dfeb8cb7fd5e",
             :order
             "f225cf3b022ed1fecc609b4332eea359c8f5a802c2ecd0beae4464f6ae1fda4a"},
 :exports
 [shard-ceiling-gb
  os-kv-headroom-gb
  usable-gb
  pool-for-class
  seats-of-text
  seats-of-media
  seats-of-postproc
  seats-total
  pool-demand-record
  pool-weight-text
  pool-weight-media
  pool-weight-postproc
  pool-seats-of-text
  pool-seats-of-media
  pool-seats-of-postproc
  classify-run-flags
  demand-empty
  demand-text
  demand-image
  demand-video
  demand-audio
  demand-postproc
  demand-inc
  demand-to-pool-record
  workers-count
  seats-equal
  seats-for-online-text
  seats-for-online-media
  seats-for-online-postproc
  pipeline-effective-gb
  node-online?
  move-needed
  rebalance-reason-code
  rebalance-reason-name
  digit-char
  nat-str
  i64-str
  pool-code
  pool-name
  seat-order-record
  order-nth
  take-end
  take-count
  pipeline-note
  rebalance-reason-detail],
 :schemas
 #:rebalance{:lanes
             [:record
              :rebalance/lanes
              [[:text :i64] [:media :i64] [:postproc :i64]]],
             :demand
             [:record
              :rebalance/demand
              [[:text :i64]
               [:image :i64]
               [:video :i64]
               [:audio :i64]
               [:postproc :i64]]],
             :order
             [:record
              :rebalance/order
              [[:i0 :i64] [:i1 :i64] [:i2 :i64]]]},
 :effects #{},
 :blocks [],
 :entry nil}
