{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name digit-char,
   :params [d],
   :result :string,
   :effects #{},
   :body (string-substring "0123456789" d (+ d 1)),
   :param-types [:i64]}
  {:name nat-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (digit-char n)
    (string-concat
     (nat-str (quot n 10))
     (digit-char (- n (* (quot n 10) 10))))),
   :param-types [:i64]}
  {:name i64-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if (< n 0) (string-concat "-" (nat-str (- 0 n))) (nat-str n)),
   :param-types [:i64]}
  {:name make-id,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (record-get
     [:record :relay/id [[:prefix :string] [:n :i64]]]
     x
     :prefix)
    (string-concat
     "-"
     (i64-str
      (record-get
       [:record :relay/id [[:prefix :string] [:n :i64]]]
       x
       :n)))),
   :param-types [[:ref :relay/id]]}
  {:name lease-expired?,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (if
    (<
     (record-get
      [:record
       :relay/lease
       [[:now-ms :i64] [:at-ms :i64] [:ttl-ms :i64]]]
      x
      :ttl-ms)
     (-
      (record-get
       [:record
        :relay/lease
        [[:now-ms :i64] [:at-ms :i64] [:ttl-ms :i64]]]
       x
       :now-ms)
      (record-get
       [:record
        :relay/lease
        [[:now-ms :i64] [:at-ms :i64] [:ttl-ms :i64]]]
       x
       :at-ms)))
    true
    false),
   :param-types [[:ref :relay/lease]]}
  {:name msg-idle,
   :params [],
   :result :string,
   :effects #{},
   :body "idle",
   :param-types []}
  {:name msg-job,
   :params [],
   :result :string,
   :effects #{},
   :body "job",
   :param-types []}
  {:name msg-settled,
   :params [],
   :result :string,
   :effects #{},
   :body "settled",
   :param-types []}],
 :oracle-value nil,
 :schema-identities
 #:relay{:id
         "d2e6c96e3b8925699edcb2fc70b1e332f22eb8f80f2dd223d41b4479458ddaef",
         :lease
         "5789879123982fe48a0b085dd0206b78115cdc09cbff4cb12e4ec6b3cc0ac24f"},
 :exports
 [digit-char
  nat-str
  i64-str
  make-id
  lease-expired?
  msg-idle
  msg-job
  msg-settled],
 :schemas
 #:relay{:id [:record :relay/id [[:prefix :string] [:n :i64]]],
         :lease
         [:record
          :relay/lease
          [[:now-ms :i64] [:at-ms :i64] [:ttl-ms :i64]]]},
 :effects #{},
 :blocks [],
 :entry nil}
