{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-per-token,
   :params [],
   :result :i64,
   :effects #{},
   :body 1,
   :param-types []}
  {:name head-num,
   :params [],
   :result :i64,
   :effects #{},
   :body 1,
   :param-types []}
  {:name head-den,
   :params [],
   :result :i64,
   :effects #{},
   :body 10,
   :param-types []}
  {:name protocol-num,
   :params [],
   :result :i64,
   :effects #{},
   :body 1,
   :param-types []}
  {:name protocol-den,
   :params [],
   :result :i64,
   :effects #{},
   :body 20,
   :param-types []}
  {:name token-cost,
   :params [m],
   :result :i64,
   :effects #{},
   :body
   (*
    (record-get
     [:record :credits/mul [[:price :i64] [:n :i64]]]
     m
     :price)
    (record-get
     [:record :credits/mul [[:price :i64] [:n :i64]]]
     m
     :n)),
   :param-types [[:ref :credits/mul]]}
  {:name unit-cost,
   :params [m],
   :result :i64,
   :effects #{},
   :body
   (*
    (record-get
     [:record :credits/mul [[:price :i64] [:n :i64]]]
     m
     :price)
    (record-get
     [:record :credits/mul [[:price :i64] [:n :i64]]]
     m
     :n)),
   :param-types [[:ref :credits/mul]]}
  {:name job-cost-2,
   :params [j],
   :result :i64,
   :effects #{},
   :body
   (+
    (*
     (record-get
      [:record
       :credits/job2
       [[:p0 :i64] [:n0 :i64] [:p1 :i64] [:n1 :i64]]]
      j
      :p0)
     (record-get
      [:record
       :credits/job2
       [[:p0 :i64] [:n0 :i64] [:p1 :i64] [:n1 :i64]]]
      j
      :n0))
    (*
     (record-get
      [:record
       :credits/job2
       [[:p0 :i64] [:n0 :i64] [:p1 :i64] [:n1 :i64]]]
      j
      :p1)
     (record-get
      [:record
       :credits/job2
       [[:p0 :i64] [:n0 :i64] [:p1 :i64] [:n1 :i64]]]
      j
      :n1))),
   :param-types [[:ref :credits/job2]]}
  {:name job-cost-3,
   :params [j],
   :result :i64,
   :effects #{},
   :body
   (+
    (+
     (*
      (record-get
       [:record
        :credits/job3
        [[:p0 :i64] [:n0 :i64] [:p1 :i64] [:n1 :i64] [:p2n :i64]]]
       j
       :p0)
      (record-get
       [:record
        :credits/job3
        [[:p0 :i64] [:n0 :i64] [:p1 :i64] [:n1 :i64] [:p2n :i64]]]
       j
       :n0))
     (*
      (record-get
       [:record
        :credits/job3
        [[:p0 :i64] [:n0 :i64] [:p1 :i64] [:n1 :i64] [:p2n :i64]]]
       j
       :p1)
      (record-get
       [:record
        :credits/job3
        [[:p0 :i64] [:n0 :i64] [:p1 :i64] [:n1 :i64] [:p2n :i64]]]
       j
       :n1)))
    (record-get
     [:record
      :credits/job3
      [[:p0 :i64] [:n0 :i64] [:p1 :i64] [:n1 :i64] [:p2n :i64]]]
     j
     :p2n)),
   :param-types [[:ref :credits/job3]]}
  {:name cut,
   :params [c],
   :result :i64,
   :effects #{},
   :body
   (quot
    (*
     (record-get
      [:record :credits/cut-in [[:total :i64] [:num :i64] [:den :i64]]]
      c
      :total)
     (record-get
      [:record :credits/cut-in [[:total :i64] [:num :i64] [:den :i64]]]
      c
      :num))
    (record-get
     [:record :credits/cut-in [[:total :i64] [:num :i64] [:den :i64]]]
     c
     :den)),
   :param-types [[:ref :credits/cut-in]]}
  {:name pool,
   :params [p],
   :result :i64,
   :effects #{},
   :body
   (-
    (record-get
     [:record
      :credits/pool-in
      [[:total :i64] [:treasury :i64] [:head :i64]]]
     p
     :total)
    (+
     (record-get
      [:record
       :credits/pool-in
       [[:total :i64] [:treasury :i64] [:head :i64]]]
      p
      :treasury)
     (record-get
      [:record
       :credits/pool-in
       [[:total :i64] [:treasury :i64] [:head :i64]]]
      p
      :head))),
   :param-types [[:ref :credits/pool-in]]}
  {:name memory-time-weight,
   :params [w],
   :result :i64,
   :effects #{},
   :body
   (let
    [est-bytes
     (record-get
      [:record
       :credits/mt-work
       [[:est-bytes :i64] [:duration-ms :i64] [:span :i64]]]
      w
      :est-bytes)
     duration-ms
     (record-get
      [:record
       :credits/mt-work
       [[:est-bytes :i64] [:duration-ms :i64] [:span :i64]]]
      w
      :duration-ms)
     span
     (record-get
      [:record
       :credits/mt-work
       [[:est-bytes :i64] [:duration-ms :i64] [:span :i64]]]
      w
      :span)]
    (if (< span 1) 0 (* est-bytes duration-ms))),
   :param-types [[:ref :credits/mt-work]]}
  {:name mt-sum-2,
   :params [w],
   :result :i64,
   :effects #{},
   :body
   (+
    (record-get
     [:record :credits/mt-pair [[:w0 :i64] [:w1 :i64]]]
     w
     :w0)
    (record-get
     [:record :credits/mt-pair [[:w0 :i64] [:w1 :i64]]]
     w
     :w1)),
   :param-types [[:ref :credits/mt-pair]]}
  {:name mt-sum-3,
   :params [w],
   :result :i64,
   :effects #{},
   :body
   (+
    (record-get
     [:record :credits/mt-triple [[:w0 :i64] [:w1 :i64] [:w2 :i64]]]
     w
     :w0)
    (+
     (record-get
      [:record :credits/mt-triple [[:w0 :i64] [:w1 :i64] [:w2 :i64]]]
      w
      :w1)
     (record-get
      [:record :credits/mt-triple [[:w0 :i64] [:w1 :i64] [:w2 :i64]]]
      w
      :w2))),
   :param-types [[:ref :credits/mt-triple]]}
  {:name share-floor,
   :params [s],
   :result :i64,
   :effects #{},
   :body
   (if
    (<
     (record-get
      [:record
       :credits/share-in
       [[:pool-amt :i64] [:w :i64] [:sumw :i64]]]
      s
      :sumw)
     1)
    0
    (quot
     (*
      (record-get
       [:record
        :credits/share-in
        [[:pool-amt :i64] [:w :i64] [:sumw :i64]]]
       s
       :pool-amt)
      (record-get
       [:record
        :credits/share-in
        [[:pool-amt :i64] [:w :i64] [:sumw :i64]]]
       s
       :w))
     (record-get
      [:record
       :credits/share-in
       [[:pool-amt :i64] [:w :i64] [:sumw :i64]]]
      s
      :sumw))),
   :param-types [[:ref :credits/share-in]]}
  {:name share-record-2,
   :params [s],
   :result [:ref :credits/shares2],
   :effects #{},
   :body
   (let
    [pool-amt
     (record-get
      [:record
       :credits/shares-w
       [[:pool-amt :i64] [:w0 :i64] [:w1 :i64]]]
      s
      :pool-amt)
     w0
     (record-get
      [:record
       :credits/shares-w
       [[:pool-amt :i64] [:w0 :i64] [:w1 :i64]]]
      s
      :w0)
     w1
     (record-get
      [:record
       :credits/shares-w
       [[:pool-amt :i64] [:w0 :i64] [:w1 :i64]]]
      s
      :w1)
     sumw
     (+ w0 w1)
     s0
     (share-floor
      (record-new
       [:record
        :credits/share-in
        [[:pool-amt :i64] [:w :i64] [:sumw :i64]]]
       pool-amt
       w0
       sumw))
     s1
     (share-floor
      (record-new
       [:record
        :credits/share-in
        [[:pool-amt :i64] [:w :i64] [:sumw :i64]]]
       pool-amt
       w1
       sumw))]
    (record-new
     [:record :credits/shares2 [[:s0 :i64] [:s1 :i64]]]
     s0
     s1)),
   :param-types [[:ref :credits/shares-w]]}
  {:name share-of-0,
   :params [shares],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record :credits/shares2 [[:s0 :i64] [:s1 :i64]]]
    shares
    :s0),
   :param-types [[:ref :credits/shares2]]}
  {:name share-of-1,
   :params [shares],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record :credits/shares2 [[:s0 :i64] [:s1 :i64]]]
    shares
    :s1),
   :param-types [[:ref :credits/shares2]]}
  {:name settle-pool-shares-2,
   :params [s],
   :result [:ref :credits/shares2],
   :effects #{},
   :body
   (let
    [total
     (record-get
      [:record :credits/settle-w [[:total :i64] [:w0 :i64] [:w1 :i64]]]
      s
      :total)
     w0
     (record-get
      [:record :credits/settle-w [[:total :i64] [:w0 :i64] [:w1 :i64]]]
      s
      :w0)
     w1
     (record-get
      [:record :credits/settle-w [[:total :i64] [:w0 :i64] [:w1 :i64]]]
      s
      :w1)
     tr
     (cut
      (record-new
       [:record
        :credits/cut-in
        [[:total :i64] [:num :i64] [:den :i64]]]
       total
       1
       20))
     hd
     (cut
      (record-new
       [:record
        :credits/cut-in
        [[:total :i64] [:num :i64] [:den :i64]]]
       total
       1
       10))
     pl
     (pool
      (record-new
       [:record
        :credits/pool-in
        [[:total :i64] [:treasury :i64] [:head :i64]]]
       total
       tr
       hd))]
    (share-record-2
     (record-new
      [:record
       :credits/shares-w
       [[:pool-amt :i64] [:w0 :i64] [:w1 :i64]]]
      pl
      w0
      w1))),
   :param-types [[:ref :credits/settle-w]]}
  {:name charge-allow?,
   :params [c],
   :result :bool,
   :effects #{},
   :body
   (if
    (<
     (record-get
      [:record :credits/charge [[:balance :i64] [:cost :i64]]]
      c
      :balance)
     (record-get
      [:record :credits/charge [[:balance :i64] [:cost :i64]]]
      c
      :cost))
    false
    true),
   :param-types [[:ref :credits/charge]]}
  {:name balance-after-spend,
   :params [c],
   :result :i64,
   :effects #{},
   :body
   (let
    [left
     (-
      (record-get
       [:record :credits/charge [[:balance :i64] [:cost :i64]]]
       c
       :balance)
      (record-get
       [:record :credits/charge [[:balance :i64] [:cost :i64]]]
       c
       :cost))]
    (if (< left 0) 0 left)),
   :param-types [[:ref :credits/charge]]}],
 :oracle-value nil,
 :schema-identities
 #:credits{:charge
           "e15ac643952453a70a86f550cbd5774a85a64a7a3c88cedd3350f037856498ec",
           :cut-in
           "d574d4b8b1589d5c9848a1d9c892c75de50f8e9dcf2509b2785c21205d8811cf",
           :job2
           "34ccd5a63252dd6316d8defc59c37c3870000757ec2b71962d36d083cdc6c8d7",
           :job3
           "f7482ecfb3f75de95b2b583d808a119efb41c9ed4622e062052ea57073f62810",
           :mt-pair
           "735cd3e949bf7d8d28b03e84a97acdd6e9f3329f25c44e6c3c4e23d2c0c9eeee",
           :mt-triple
           "aff6802a6eb6be180b10261cc91fe499392e840cffa9d789781e823d44cff5b7",
           :mt-work
           "00214231c3a7abc318b1d6aaf32a95dfe25e90a05a03be421eded847eb3e6e14",
           :mul
           "933183c548ab8d18c778d37abb76057b333c7e3492c4da304ccc10a1272738d8",
           :pool-in
           "caf099946bc2340f4e08aa258f9d1b8b76d64f0ca7ba827415f3386bb8f1badf",
           :settle-w
           "b43abb4fea2301a1e5eec4bcc784b7ef996591fe5960259f0eaf0d9a52e2fb5d",
           :share-in
           "2cd654a6f064d143672352f41ddb5e60ff4107c959dcfa692d3757004dc84f6c",
           :shares-w
           "193e6620e701ea7d8677ebc2e928b844dde14ad89f481b38c2b15d046c3a8a7c",
           :shares2
           "4ec5c2cb3d540deed41a3884353324f5d4e251238c6622253f9dfbce0dd4bf85"},
 :exports
 [default-per-token
  head-num
  head-den
  protocol-num
  protocol-den
  token-cost
  cut
  pool
  memory-time-weight
  charge-allow?
  balance-after-spend
  unit-cost
  job-cost-2
  job-cost-3
  share-floor
  share-record-2
  share-of-0
  share-of-1
  settle-pool-shares-2
  mt-sum-2
  mt-sum-3],
 :schemas
 #:credits{:mt-triple
           [:record
            :credits/mt-triple
            [[:w0 :i64] [:w1 :i64] [:w2 :i64]]],
           :job3
           [:record
            :credits/job3
            [[:p0 :i64] [:n0 :i64] [:p1 :i64] [:n1 :i64] [:p2n :i64]]],
           :job2
           [:record
            :credits/job2
            [[:p0 :i64] [:n0 :i64] [:p1 :i64] [:n1 :i64]]],
           :mt-pair [:record :credits/mt-pair [[:w0 :i64] [:w1 :i64]]],
           :charge
           [:record :credits/charge [[:balance :i64] [:cost :i64]]],
           :shares-w
           [:record
            :credits/shares-w
            [[:pool-amt :i64] [:w0 :i64] [:w1 :i64]]],
           :settle-w
           [:record
            :credits/settle-w
            [[:total :i64] [:w0 :i64] [:w1 :i64]]],
           :cut-in
           [:record
            :credits/cut-in
            [[:total :i64] [:num :i64] [:den :i64]]],
           :shares2 [:record :credits/shares2 [[:s0 :i64] [:s1 :i64]]],
           :pool-in
           [:record
            :credits/pool-in
            [[:total :i64] [:treasury :i64] [:head :i64]]],
           :mt-work
           [:record
            :credits/mt-work
            [[:est-bytes :i64] [:duration-ms :i64] [:span :i64]]],
           :share-in
           [:record
            :credits/share-in
            [[:pool-amt :i64] [:w :i64] [:sumw :i64]]],
           :mul [:record :credits/mul [[:price :i64] [:n :i64]]]},
 :effects #{},
 :blocks [],
 :entry nil}
