{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-rotation-seconds,
   :params [],
   :result :i64,
   :effects #{},
   :body 86400,
   :param-types []}
  {:name key-id-hex-len,
   :params [],
   :result :i64,
   :effects #{},
   :body 16,
   :param-types []}
  {:name seed-sep,
   :params [],
   :result :string,
   :effects #{},
   :body ":",
   :param-types []}
  {:name key-id-mid,
   :params [],
   :result :string,
   :effects #{},
   :body ":key:",
   :param-types []}
  {:name derive-key-mid,
   :params [],
   :result :string,
   :effects #{},
   :body ":murakumo-overlay-key:",
   :param-types []}
  {:name type-key,
   :params [],
   :result :string,
   :effects #{},
   :body "murakumo.overlay.key",
   :param-types []}
  {:name type-rotation,
   :params [],
   :result :string,
   :effects #{},
   :body "murakumo.overlay.key-rotation",
   :param-types []}
  {:name digit-char,
   :params [d],
   :result :string,
   :effects #{},
   :body (string-substring "0123456789" d (+ d 1)),
   :param-types [:i64]}
  {:name nat-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (digit-char n)
    (string-concat
     (nat-str (quot n 10))
     (digit-char (- n (* (quot n 10) 10))))),
   :param-types [:i64]}
  {:name i64-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if (< n 0) (string-concat "-" (nat-str (- 0 n))) (nat-str n)),
   :param-types [:i64]}
  {:name epoch,
   :params [seconds rotation-seconds],
   :result :i64,
   :effects #{},
   :body (quot seconds rotation-seconds),
   :param-types [:i64 :i64]}
  {:name key-id-input,
   :params [overlay epoch],
   :result :string,
   :effects #{},
   :body
   (string-concat
    overlay
    (string-concat (key-id-mid) (i64-str epoch))),
   :param-types [:string :i64]}
  {:name derive-key-input,
   :params [operator-seed overlay epoch],
   :result :string,
   :effects #{},
   :body
   (string-concat
    operator-seed
    (string-concat
     (seed-sep)
     (string-concat
      overlay
      (string-concat (derive-key-mid) (i64-str epoch))))),
   :param-types [:string :string :i64]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [default-rotation-seconds
  epoch
  key-id-input
  derive-key-input
  digit-char
  nat-str
  i64-str
  seed-sep
  key-id-mid
  derive-key-mid
  key-id-hex-len
  type-key
  type-rotation],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
