{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-relay-port,
   :params [],
   :result :i64,
   :effects #{},
   :body 4701,
   :param-types []}
  {:name default-web-port,
   :params [],
   :result :i64,
   :effects #{},
   :body 443,
   :param-types []}
  {:name default-quic-port,
   :params [],
   :result :i64,
   :effects #{},
   :body 4001,
   :param-types []}
  {:name starts-with?,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (let
    [s
     (record-get
      [:record :runtime/starts-with [[:s :string] [:prefix :string]]]
      x
      :s)
     prefix
     (record-get
      [:record :runtime/starts-with [[:s :string] [:prefix :string]]]
      x
      :prefix)
     n
     (string-byte-length s)
     p
     (string-byte-length prefix)]
    (if
     (< n p)
     false
     (if (string=? (string-substring s 0 p) prefix) true false))),
   :param-types [[:ref :runtime/starts-with]]}
  {:name scheme-quic,
   :params [],
   :result :string,
   :effects #{},
   :body "quic://",
   :param-types []}
  {:name scheme-webrtc,
   :params [],
   :result :string,
   :effects #{},
   :body "webrtc://",
   :param-types []}
  {:name scheme-relay,
   :params [],
   :result :string,
   :effects #{},
   :body "relay://",
   :param-types []}
  {:name scheme-webtransport,
   :params [],
   :result :string,
   :effects #{},
   :body "webtransport://",
   :param-types []}
  {:name kind-quic,
   :params [],
   :result :string,
   :effects #{},
   :body "quic",
   :param-types []}
  {:name kind-webrtc,
   :params [],
   :result :string,
   :effects #{},
   :body "webrtc",
   :param-types []}
  {:name kind-webtransport,
   :params [],
   :result :string,
   :effects #{},
   :body "webtransport",
   :param-types []}
  {:name kind-relay,
   :params [],
   :result :string,
   :effects #{},
   :body "relay",
   :param-types []}
  {:name kind-other,
   :params [],
   :result :string,
   :effects #{},
   :body "other",
   :param-types []}
  {:name adapter-relay,
   :params [],
   :result :string,
   :effects #{},
   :body "murakumo.runtime.relay",
   :param-types []}
  {:name adapter-quic,
   :params [],
   :result :string,
   :effects #{},
   :body "murakumo.runtime.quic",
   :param-types []}
  {:name adapter-webrtc,
   :params [],
   :result :string,
   :effects #{},
   :body "murakumo.runtime.webrtc",
   :param-types []}
  {:name adapter-webtransport,
   :params [],
   :result :string,
   :effects #{},
   :body "murakumo.runtime.webtransport",
   :param-types []}
  {:name adapter-relay-client,
   :params [],
   :result :string,
   :effects #{},
   :body "murakumo.runtime.relay-client",
   :param-types []}
  {:name adapter-kind-relay-runtime,
   :params [],
   :result :string,
   :effects #{},
   :body "relay-runtime",
   :param-types []}
  {:name adapter-kind-quic,
   :params [],
   :result :string,
   :effects #{},
   :body "quic",
   :param-types []}
  {:name adapter-kind-webrtc,
   :params [],
   :result :string,
   :effects #{},
   :body "webrtc",
   :param-types []}
  {:name adapter-kind-webtransport,
   :params [],
   :result :string,
   :effects #{},
   :body "webtransport",
   :param-types []}
  {:name adapter-kind-relay,
   :params [],
   :result :string,
   :effects #{},
   :body "relay",
   :param-types []}
  {:name default-port-for-kind,
   :params [kind],
   :result :i64,
   :effects #{},
   :body
   (if
    (string=? kind (kind-quic))
    (default-quic-port)
    (if
     (string=? kind (kind-relay))
     (default-relay-port)
     (if
      (if
       (string=? kind (kind-webrtc))
       1
       (if (string=? kind (kind-webtransport)) 1 0))
      (default-web-port)
      0))),
   :param-types [:string]}
  {:name known-adapter?,
   :params [name],
   :result :bool,
   :effects #{},
   :body
   (if
    (string=? name (adapter-relay))
    true
    (if
     (string=? name (adapter-quic))
     true
     (if
      (string=? name (adapter-webrtc))
      true
      (if
       (string=? name (adapter-webtransport))
       true
       (if (string=? name (adapter-relay-client)) true false))))),
   :param-types [:string]}
  {:name adapter-kind,
   :params [name],
   :result :string,
   :effects #{},
   :body
   (if
    (string=? name (adapter-relay))
    (adapter-kind-relay-runtime)
    (if
     (string=? name (adapter-quic))
     (adapter-kind-quic)
     (if
      (string=? name (adapter-webrtc))
      (adapter-kind-webrtc)
      (if
       (string=? name (adapter-webtransport))
       (adapter-kind-webtransport)
       (if
        (string=? name (adapter-relay-client))
        (adapter-kind-relay)
        ""))))),
   :param-types [:string]}
  {:name digit-char,
   :params [d],
   :result :string,
   :effects #{},
   :body (string-substring "0123456789" d (+ d 1)),
   :param-types [:i64]}
  {:name nat-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (digit-char n)
    (string-concat
     (nat-str (quot n 10))
     (digit-char (- n (* (quot n 10) 10))))),
   :param-types [:i64]}
  {:name i64-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if (< n 0) (string-concat "-" (nat-str (- 0 n))) (nat-str n)),
   :param-types [:i64]}
  {:name endpoint-kind,
   :params [endpoint],
   :result :string,
   :effects #{},
   :body
   (if
    (starts-with?
     (record-new
      [:record :runtime/starts-with [[:s :string] [:prefix :string]]]
      endpoint
      (scheme-quic)))
    (kind-quic)
    (if
     (starts-with?
      (record-new
       [:record :runtime/starts-with [[:s :string] [:prefix :string]]]
       endpoint
       (scheme-webrtc)))
     (kind-webrtc)
     (if
      (starts-with?
       (record-new
        [:record :runtime/starts-with [[:s :string] [:prefix :string]]]
        endpoint
        (scheme-relay)))
      (kind-relay)
      (if
       (starts-with?
        (record-new
         [:record
          :runtime/starts-with
          [[:s :string] [:prefix :string]]]
         endpoint
         (scheme-webtransport)))
       (kind-webtransport)
       (kind-other))))),
   :param-types [:string]}
  {:name find-scheme-end,
   :params [s i n],
   :result :i64,
   :effects #{},
   :body
   (if
    (< (+ i 2) n)
    (if
     (if
      (string=? (string-substring s i (+ i 1)) ":")
      (if
       (string=? (string-substring s (+ i 1) (+ i 2)) "/")
       (if (string=? (string-substring s (+ i 2) (+ i 3)) "/") 1 0)
       0)
      0)
     (+ i 3)
     (find-scheme-end s (+ i 1) n))
    -1),
   :param-types [:string :i64 :i64]}
  {:name find-host-end,
   :params [s i n],
   :result :i64,
   :effects #{},
   :body
   (if
    (< i n)
    (let
     [c (string-substring s i (+ i 1))]
     (if
      (if (string=? c ":") 1 (if (string=? c "/") 1 0))
      i
      (find-host-end s (+ i 1) n)))
    n),
   :param-types [:string :i64 :i64]}
  {:name scheme-prefix-host,
   :params [url],
   :result :string,
   :effects #{},
   :body
   (let
    [n (string-byte-length url) start (find-scheme-end url 0 n)]
    (if
     (< start 0)
     ""
     (let
      [end (find-host-end url start n)]
      (if (< start end) (string-substring url start end) "")))),
   :param-types [:string]}],
 :oracle-value nil,
 :schema-identities
 #:runtime{:starts-with
           "ce0c0453933a841e15a963cb677c28754d62479bed510e2c4264682d696bdd7e"},
 :exports
 [default-relay-port
  default-web-port
  default-quic-port
  default-port-for-kind
  known-adapter?
  adapter-kind
  digit-char
  nat-str
  i64-str
  endpoint-kind
  scheme-prefix-host
  starts-with?
  scheme-quic
  scheme-webrtc
  scheme-relay
  scheme-webtransport
  kind-quic
  kind-webrtc
  kind-webtransport
  kind-relay
  kind-other
  adapter-relay
  adapter-quic
  adapter-webrtc
  adapter-webtransport
  adapter-relay-client
  adapter-kind-relay-runtime
  adapter-kind-quic
  adapter-kind-webrtc
  adapter-kind-webtransport
  adapter-kind-relay],
 :schemas
 #:runtime{:starts-with
           [:record
            :runtime/starts-with
            [[:s :string] [:prefix :string]]]},
 :effects #{},
 :blocks [],
 :entry nil}
