{:format :kotoba.kir/v3,
 :signature nil,
 :functions
 [{:name default-window-size,
   :params [],
   :result :i64,
   :effects #{},
   :body 64}
  {:name advance-seq,
   :params [next-seq],
   :result :i64,
   :effects #{},
   :body (+ next-seq 1)}
  {:name ack-accepted?,
   :params [accepted],
   :result :i64,
   :effects #{},
   :body (if (= accepted 0) 0 1)}],
 :oracle-value nil,
 :schema-identities nil,
 :exports [default-window-size advance-seq ack-accepted?],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
