{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name blank?,
   :params [s],
   :result :bool,
   :effects #{},
   :body (if (string=? s "") true false),
   :param-types [:string]}
  {:name starts-with?,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (let
    [s
     (record-get
      [:record :driver/starts-with [[:s :string] [:prefix :string]]]
      x
      :s)
     prefix
     (record-get
      [:record :driver/starts-with [[:s :string] [:prefix :string]]]
      x
      :prefix)
     n
     (string-byte-length s)
     p
     (string-byte-length prefix)]
    (if
     (< n p)
     false
     (if (string=? (string-substring s 0 p) prefix) true false))),
   :param-types [[:ref :driver/starts-with]]}
  {:name scheme-quic,
   :params [],
   :result :string,
   :effects #{},
   :body "quic://",
   :param-types []}
  {:name scheme-webrtc,
   :params [],
   :result :string,
   :effects #{},
   :body "webrtc://",
   :param-types []}
  {:name scheme-https,
   :params [],
   :result :string,
   :effects #{},
   :body "https://",
   :param-types []}
  {:name scheme-relay,
   :params [],
   :result :string,
   :effects #{},
   :body "relay://",
   :param-types []}
  {:name kind-quic,
   :params [],
   :result :string,
   :effects #{},
   :body "quic",
   :param-types []}
  {:name kind-webrtc,
   :params [],
   :result :string,
   :effects #{},
   :body "webrtc",
   :param-types []}
  {:name kind-webtransport,
   :params [],
   :result :string,
   :effects #{},
   :body "webtransport",
   :param-types []}
  {:name kind-relay,
   :params [],
   :result :string,
   :effects #{},
   :body "relay",
   :param-types []}
  {:name kind-unknown,
   :params [],
   :result :string,
   :effects #{},
   :body "unknown",
   :param-types []}
  {:name flag-dash-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "--",
   :param-types []}
  {:name cmd-dial,
   :params [],
   :result :string,
   :effects #{},
   :body "dial",
   :param-types []}
  {:name reason-ok,
   :params [],
   :result :string,
   :effects #{},
   :body "ok",
   :param-types []}
  {:name reason-unknown-command,
   :params [],
   :result :string,
   :effects #{},
   :body "unknown-command",
   :param-types []}
  {:name reason-missing-options,
   :params [],
   :result :string,
   :effects #{},
   :body "missing-options",
   :param-types []}
  {:name endpoint-kind,
   :params [endpoint],
   :result :string,
   :effects #{},
   :body
   (if
    (starts-with?
     (record-new
      [:record :driver/starts-with [[:s :string] [:prefix :string]]]
      endpoint
      (scheme-quic)))
    (kind-quic)
    (if
     (starts-with?
      (record-new
       [:record :driver/starts-with [[:s :string] [:prefix :string]]]
       endpoint
       (scheme-webrtc)))
     (kind-webrtc)
     (if
      (starts-with?
       (record-new
        [:record :driver/starts-with [[:s :string] [:prefix :string]]]
        endpoint
        (scheme-https)))
      (kind-webtransport)
      (if
       (starts-with?
        (record-new
         [:record :driver/starts-with [[:s :string] [:prefix :string]]]
         endpoint
         (scheme-relay)))
       (kind-relay)
       (kind-unknown))))),
   :param-types [:string]}
  {:name option-name,
   :params [flag],
   :result :string,
   :effects #{},
   :body
   (let
    [n
     (string-byte-length flag)
     p
     (string-byte-length (flag-dash-prefix))]
    (if
     (< n p)
     ""
     (if
      (starts-with?
       (record-new
        [:record :driver/starts-with [[:s :string] [:prefix :string]]]
        flag
        (flag-dash-prefix)))
      (string-substring flag p n)
      flag))),
   :param-types [:string]}
  {:name command-is-dial?,
   :params [command],
   :result :bool,
   :effects #{},
   :body (if (string=? command (cmd-dial)) true false),
   :param-types [:string]}
  {:name dial-ok-reason,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (if
    (record-get
     [:record :driver/dial-reason [[:is-dial :bool] [:missing-n :i64]]]
     x
     :is-dial)
    (if
     (<
      0
      (record-get
       [:record
        :driver/dial-reason
        [[:is-dial :bool] [:missing-n :i64]]]
       x
       :missing-n))
     (reason-missing-options)
     (reason-ok))
    (reason-unknown-command)),
   :param-types [[:ref :driver/dial-reason]]}],
 :oracle-value nil,
 :schema-identities
 #:driver{:dial-reason
          "e79471ef55e3427ecde2a871a74b2eefbed017efb5669ccd4489ce0e0e179b31",
          :starts-with
          "36a140e56697f1a326758da7d668edcb14559f9a9fda1cadf099811bcf361165"},
 :exports
 [endpoint-kind
  blank?
  option-name
  dial-ok-reason
  command-is-dial?
  starts-with?
  scheme-quic
  scheme-webrtc
  scheme-https
  scheme-relay
  kind-quic
  kind-webrtc
  kind-webtransport
  kind-relay
  kind-unknown
  flag-dash-prefix
  cmd-dial
  reason-ok
  reason-unknown-command
  reason-missing-options],
 :schemas
 #:driver{:starts-with
          [:record
           :driver/starts-with
           [[:s :string] [:prefix :string]]],
          :dial-reason
          [:record
           :driver/dial-reason
           [[:is-dial :bool] [:missing-n :i64]]]},
 :effects #{},
 :blocks [],
 :entry nil}
