{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name alg-name,
   :params [],
   :result :string,
   :effects #{},
   :body "aes-256-gcm",
   :param-types []}
  {:name cipher-transform,
   :params [],
   :result :string,
   :effects #{},
   :body "AES/GCM/NoPadding",
   :param-types []}
  {:name nonce-bytes,
   :params [],
   :result :i64,
   :effects #{},
   :body 12,
   :param-types []}
  {:name gcm-tag-bits,
   :params [],
   :result :i64,
   :effects #{},
   :body 128,
   :param-types []}
  {:name field-alg,
   :params [],
   :result :string,
   :effects #{},
   :body "alg",
   :param-types []}
  {:name field-nonce,
   :params [],
   :result :string,
   :effects #{},
   :body "nonce",
   :param-types []}
  {:name field-ciphertext,
   :params [],
   :result :string,
   :effects #{},
   :body "ciphertext",
   :param-types []}
  {:name strip-b64-pad,
   :params [s],
   :result :string,
   :effects #{},
   :body (string-replace-all s "=" ""),
   :param-types [:string]}
  {:name sealed-alg-ok?,
   :params [alg],
   :result :bool,
   :effects #{},
   :body (string=? alg (alg-name)),
   :param-types [:string]}
  {:name sealed-fields-present?,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (let
    [__kotoba_binding-some_1
     (record-get
      [:record
       :crypto/sealed
       [[:alg [:option :string]]
        [:nonce [:option :string]]
        [:ct [:option :string]]]]
      x
      :alg)]
    (if
     (option-some?-of [:option :string] __kotoba_binding-some_1)
     (let
      [_
       (option-value-of [:option :string] __kotoba_binding-some_1 "")]
      (let
       [__kotoba_binding-some_2
        (record-get
         [:record
          :crypto/sealed
          [[:alg [:option :string]]
           [:nonce [:option :string]]
           [:ct [:option :string]]]]
         x
         :nonce)]
       (if
        (option-some?-of [:option :string] __kotoba_binding-some_2)
        (let
         [_
          (option-value-of
           [:option :string]
           __kotoba_binding-some_2
           "")]
         (let
          [__kotoba_binding-some_3
           (record-get
            [:record
             :crypto/sealed
             [[:alg [:option :string]]
              [:nonce [:option :string]]
              [:ct [:option :string]]]]
            x
            :ct)]
          (if
           (option-some?-of [:option :string] __kotoba_binding-some_3)
           (let
            [_
             (option-value-of
              [:option :string]
              __kotoba_binding-some_3
              "")]
            true)
           false)))
        false)))
     false)),
   :param-types [[:ref :crypto/sealed]]}],
 :oracle-value nil,
 :schema-identities
 #:crypto{:sealed
          "1865db855e32d9e1cb2079a486f7bab97bf69378e05c5bf763b3b8264c320863"},
 :exports
 [alg-name
  cipher-transform
  nonce-bytes
  gcm-tag-bits
  field-alg
  field-nonce
  field-ciphertext
  strip-b64-pad
  sealed-alg-ok?
  sealed-fields-present?],
 :schemas
 #:crypto{:sealed
          [:record
           :crypto/sealed
           [[:alg [:option :string]]
            [:nonce [:option :string]]
            [:ct [:option :string]]]]},
 :effects #{},
 :blocks [],
 :entry nil}
