{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name health-unknown,
   :params [],
   :result :string,
   :effects #{},
   :body "unknown",
   :param-types []}
  {:name health-seen,
   :params [],
   :result :string,
   :effects #{},
   :body "seen",
   :param-types []}
  {:name health-down,
   :params [],
   :result :string,
   :effects #{},
   :body "down",
   :param-types []}
  {:name via-direct,
   :params [],
   :result :string,
   :effects #{},
   :body "direct",
   :param-types []}
  {:name via-relay,
   :params [],
   :result :string,
   :effects #{},
   :body "relay",
   :param-types []}
  {:name choose-via,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [__kotoba_binding-some_1
     (record-get
      [:record
       :peer/via
       [[:direct [:option :string]]
        [:health :string]
        [:relay [:option :string]]]]
      x
      :direct)]
    (if
     (option-some?-of [:option :string] __kotoba_binding-some_1)
     (let
      [_
       (option-value-of [:option :string] __kotoba_binding-some_1 "")]
      (if
       (string=?
        (record-get
         [:record
          :peer/via
          [[:direct [:option :string]]
           [:health :string]
           [:relay [:option :string]]]]
         x
         :health)
        (health-down))
       (let
        [__kotoba_binding-some_2
         (record-get
          [:record
           :peer/via
           [[:direct [:option :string]]
            [:health :string]
            [:relay [:option :string]]]]
          x
          :relay)]
        (if
         (option-some?-of [:option :string] __kotoba_binding-some_2)
         (let
          [_
           (option-value-of
            [:option :string]
            __kotoba_binding-some_2
            "")]
          (via-relay))
         ""))
       (via-direct)))
     (let
      [__kotoba_binding-some_3
       (record-get
        [:record
         :peer/via
         [[:direct [:option :string]]
          [:health :string]
          [:relay [:option :string]]]]
        x
        :relay)]
      (if
       (option-some?-of [:option :string] __kotoba_binding-some_3)
       (let
        [_
         (option-value-of
          [:option :string]
          __kotoba_binding-some_3
          "")]
        (via-relay))
       "")))),
   :param-types [[:ref :peer/via]]}],
 :oracle-value nil,
 :schema-identities
 #:peer{:via
        "e2d24ebb695bfdfdd9475667c6295c635b2fa912dc3d7b65e0b4c2baf748a486"},
 :exports
 [choose-via
  health-unknown
  health-seen
  health-down
  via-direct
  via-relay],
 :schemas
 #:peer{:via
        [:record
         :peer/via
         [[:direct [:option :string]]
          [:health :string]
          [:relay [:option :string]]]]},
 :effects #{},
 :blocks [],
 :entry nil}
