{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-rotation-seconds,
   :params [],
   :result :i64,
   :effects #{},
   :body 86400,
   :param-types []}
  {:name key-id-hex-len,
   :params [],
   :result :i64,
   :effects #{},
   :body 16,
   :param-types []}
  {:name seed-sep,
   :params [],
   :result :string,
   :effects #{},
   :body ":",
   :param-types []}
  {:name key-id-mid,
   :params [],
   :result :string,
   :effects #{},
   :body ":key:",
   :param-types []}
  {:name derive-key-mid,
   :params [],
   :result :string,
   :effects #{},
   :body ":murakumo-overlay-key:",
   :param-types []}
  {:name type-key,
   :params [],
   :result :string,
   :effects #{},
   :body "murakumo.overlay.key",
   :param-types []}
  {:name type-rotation,
   :params [],
   :result :string,
   :effects #{},
   :body "murakumo.overlay.key-rotation",
   :param-types []}
  {:name digit-char,
   :params [d],
   :result :string,
   :effects #{},
   :body (string-substring "0123456789" d (+ d 1)),
   :param-types [:i64]}
  {:name nat-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (digit-char n)
    (string-concat
     (nat-str (quot n 10))
     (digit-char (- n (* (quot n 10) 10))))),
   :param-types [:i64]}
  {:name i64-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if (< n 0) (string-concat "-" (nat-str (- 0 n))) (nat-str n)),
   :param-types [:i64]}
  {:name epoch,
   :params [x],
   :result :i64,
   :effects #{},
   :body
   (quot
    (record-get
     [:record
      :keyring/epoch-in
      [[:seconds :i64] [:rotation-seconds :i64]]]
     x
     :seconds)
    (record-get
     [:record
      :keyring/epoch-in
      [[:seconds :i64] [:rotation-seconds :i64]]]
     x
     :rotation-seconds)),
   :param-types [[:ref :keyring/epoch-in]]}
  {:name key-id-input,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (record-get
     [:record :keyring/key-id-in [[:overlay :string] [:epoch :i64]]]
     x
     :overlay)
    (string-concat
     (key-id-mid)
     (i64-str
      (record-get
       [:record :keyring/key-id-in [[:overlay :string] [:epoch :i64]]]
       x
       :epoch)))),
   :param-types [[:ref :keyring/key-id-in]]}
  {:name derive-key-input,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (record-get
     [:record
      :keyring/derive-in
      [[:operator-seed :string] [:overlay :string] [:epoch :i64]]]
     x
     :operator-seed)
    (string-concat
     (seed-sep)
     (string-concat
      (record-get
       [:record
        :keyring/derive-in
        [[:operator-seed :string] [:overlay :string] [:epoch :i64]]]
       x
       :overlay)
      (string-concat
       (derive-key-mid)
       (i64-str
        (record-get
         [:record
          :keyring/derive-in
          [[:operator-seed :string] [:overlay :string] [:epoch :i64]]]
         x
         :epoch)))))),
   :param-types [[:ref :keyring/derive-in]]}],
 :oracle-value nil,
 :schema-identities
 #:keyring{:derive-in
           "0967a2b9c8e24a837949b5e8c954fe45118c4e0ffb9d6e32d7a03203ee257067",
           :epoch-in
           "a1fe8aad54d84d107d95d524d52161819c3da2fe4f246b92dc4966742ea8c7e1",
           :key-id-in
           "195d1d0b3db36002d75694420922b0eaaffdd0337d23ade86bad024a05585ac7"},
 :exports
 [default-rotation-seconds
  epoch
  key-id-input
  derive-key-input
  digit-char
  nat-str
  i64-str
  seed-sep
  key-id-mid
  derive-key-mid
  key-id-hex-len
  type-key
  type-rotation],
 :schemas
 #:keyring{:epoch-in
           [:record
            :keyring/epoch-in
            [[:seconds :i64] [:rotation-seconds :i64]]],
           :key-id-in
           [:record
            :keyring/key-id-in
            [[:overlay :string] [:epoch :i64]]],
           :derive-in
           [:record
            :keyring/derive-in
            [[:operator-seed :string]
             [:overlay :string]
             [:epoch :i64]]]},
 :effects #{},
 :blocks [],
 :entry nil}
