{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name health-unknown,
   :params [],
   :result :string,
   :effects #{},
   :body "unknown",
   :param-types []}
  {:name health-seen,
   :params [],
   :result :string,
   :effects #{},
   :body "seen",
   :param-types []}
  {:name health-down,
   :params [],
   :result :string,
   :effects #{},
   :body "down",
   :param-types []}
  {:name via-direct,
   :params [],
   :result :string,
   :effects #{},
   :body "direct",
   :param-types []}
  {:name via-relay,
   :params [],
   :result :string,
   :effects #{},
   :body "relay",
   :param-types []}
  {:name choose-via,
   :params [direct health relay],
   :result :string,
   :effects #{},
   :body
   (let
    [binding-some__1 direct]
    (if
     (option-some?-of [:option :string] binding-some__1)
     (let
      [_ (option-value-of [:option :string] binding-some__1 "")]
      (if
       (string=? health (health-down))
       (let
        [binding-some__2 relay]
        (if
         (option-some?-of [:option :string] binding-some__2)
         (let
          [_ (option-value-of [:option :string] binding-some__2 "")]
          (via-relay))
         ""))
       (via-direct)))
     (let
      [binding-some__3 relay]
      (if
       (option-some?-of [:option :string] binding-some__3)
       (let
        [_ (option-value-of [:option :string] binding-some__3 "")]
        (via-relay))
       "")))),
   :param-types [[:option :string] :string [:option :string]]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [choose-via
  health-unknown
  health-seen
  health-down
  via-direct
  via-relay],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
