{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name repo-authority,
   :params [],
   :result :string,
   :effects #{},
   :body "did:web:etzhayyim.com:murakumo",
   :param-types []}
  {:name fleet-graph-name,
   :params [],
   :result :string,
   :effects #{},
   :body "murakumo-fleet",
   :param-types []}
  {:name snapshot-collection,
   :params [],
   :result :string,
   :effects #{},
   :body "com.murakumo.fleet.snapshot",
   :param-types []}
  {:name reconcile-collection,
   :params [],
   :result :string,
   :effects #{},
   :body "com.murakumo.fleet.reconcile",
   :param-types []}
  {:name snapshot-local-port,
   :params [],
   :result :i64,
   :effects #{},
   :body 18099,
   :param-types []}
  {:name reconcile-local-port,
   :params [],
   :result :i64,
   :effects #{},
   :body 18098,
   :param-types []}
  {:name forward-settle-ms,
   :params [],
   :result :i64,
   :effects #{},
   :body 400,
   :param-types []}
  {:name digit-char,
   :params [d],
   :result :string,
   :effects #{},
   :body (string-substring "0123456789" d (+ d 1)),
   :param-types [:i64]}
  {:name nat-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (digit-char n)
    (string-concat
     (nat-str (quot n 10))
     (digit-char (- n (* (quot n 10) 10))))),
   :param-types [:i64]}
  {:name i64-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if (< n 0) (string-concat "-" (nat-str (- 0 n))) (nat-str n)),
   :param-types [:i64]}
  {:name snapshot-rkey,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "snap-"
    (string-concat
     (i64-str
      (record-get
       [:record :persist/rkey [[:millis :i64] [:seq-n :i64]]]
       x
       :millis))
     (string-concat
      "-"
      (i64-str
       (record-get
        [:record :persist/rkey [[:millis :i64] [:seq-n :i64]]]
        x
        :seq-n))))),
   :param-types [[:ref :persist/rkey]]}
  {:name reconcile-rkey,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "rec-"
    (string-concat
     (i64-str
      (record-get
       [:record :persist/rkey [[:millis :i64] [:seq-n :i64]]]
       x
       :millis))
     (string-concat
      "-"
      (i64-str
       (record-get
        [:record :persist/rkey [[:millis :i64] [:seq-n :i64]]]
        x
        :seq-n))))),
   :param-types [[:ref :persist/rkey]]}
  {:name repo-uri,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "at://"
    (string-concat
     (repo-authority)
     (string-concat
      "/"
      (string-concat
       (record-get
        [:record :persist/uri [[:collection :string] [:rkey :string]]]
        x
        :collection)
       (string-concat
        "/"
        (record-get
         [:record :persist/uri [[:collection :string] [:rkey :string]]]
         x
         :rkey)))))),
   :param-types [[:ref :persist/uri]]}
  {:name operation-create,
   :params [],
   :result :string,
   :effects #{},
   :body "create",
   :param-types []}
  {:name write-ok-marker,
   :params [],
   :result :string,
   :effects #{},
   :body "\"status\":\"ok\"",
   :param-types []}
  {:name auth-bearer-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "Authorization: Bearer ",
   :param-types []}
  {:name content-type-json-header,
   :params [],
   :result :string,
   :effects #{},
   :body "content-type: application/json",
   :param-types []}
  {:name curl-timeout-s,
   :params [],
   :result :i64,
   :effects #{},
   :body 6,
   :param-types []}
  {:name curl-method-post,
   :params [],
   :result :string,
   :effects #{},
   :body "POST",
   :param-types []}
  {:name auth-header,
   :params [token],
   :result :string,
   :effects #{},
   :body (string-concat (auth-bearer-prefix) token),
   :param-types [:string]}
  {:name xrpc-repo-write-path,
   :params [],
   :result :string,
   :effects #{},
   :body "/xrpc/com.etzhayyim.apps.kotoba.atproto.repo.write",
   :param-types []}
  {:name repo-write-url,
   :params [local-port],
   :result :string,
   :effects #{},
   :body
   (string-concat
    "http://localhost:"
    (string-concat (i64-str local-port) (xrpc-repo-write-path))),
   :param-types [:i64]}
  {:name write-ok?,
   :params [out],
   :result :bool,
   :effects #{},
   :body (string-contains? out (write-ok-marker)),
   :param-types [:string]}],
 :oracle-value nil,
 :schema-identities
 #:persist{:rkey
           "379177916cc7dbb1e6f911d05961f5a68c8cf619a2655a9a795b560f9384a819",
           :uri
           "d56b343f02cd2a2d7ac32898891d2ce24d17bb8f2a2e235bc285d82baffc1f29"},
 :exports
 [repo-authority
  fleet-graph-name
  snapshot-collection
  reconcile-collection
  snapshot-local-port
  reconcile-local-port
  forward-settle-ms
  digit-char
  nat-str
  i64-str
  snapshot-rkey
  reconcile-rkey
  repo-uri
  repo-write-url
  write-ok?
  operation-create
  write-ok-marker
  auth-bearer-prefix
  content-type-json-header
  curl-timeout-s
  curl-method-post
  auth-header
  xrpc-repo-write-path],
 :schemas
 #:persist{:rkey
           [:record :persist/rkey [[:millis :i64] [:seq-n :i64]]],
           :uri
           [:record
            :persist/uri
            [[:collection :string] [:rkey :string]]]},
 :effects #{},
 :blocks [],
 :entry nil}
