{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-replicas,
   :params [],
   :result :i64,
   :effects #{},
   :body 1,
   :param-types []}
  {:name desired,
   :params [replicas],
   :result :i64,
   :effects #{},
   :body
   (let
    [__kotoba_binding-some_1 replicas]
    (if
     (option-some?-of [:option :i64] __kotoba_binding-some_1)
     (let
      [r (option-value-of [:option :i64] __kotoba_binding-some_1 0)]
      r)
     1)),
   :param-types [[:option :i64]]}
  {:name deficit,
   :params [d],
   :result :i64,
   :effects #{},
   :body
   (let
    [gap
     (-
      (record-get
       [:record :reconcile/deficit [[:desired :i64] [:running :i64]]]
       d
       :desired)
      (record-get
       [:record :reconcile/deficit [[:desired :i64] [:running :i64]]]
       d
       :running))]
    (if (< gap 0) 0 gap)),
   :param-types [[:ref :reconcile/deficit]]}
  {:name watch-sleep-ms,
   :params [seconds],
   :result :i64,
   :effects #{},
   :body (* 1000 seconds),
   :param-types [:i64]}
  {:name action-satisfied,
   :params [],
   :result :string,
   :effects #{},
   :body "satisfied",
   :param-types []}
  {:name action-place,
   :params [],
   :result :string,
   :effects #{},
   :body "place",
   :param-types []}
  {:name action-over,
   :params [],
   :result :string,
   :effects #{},
   :body "over",
   :param-types []}
  {:name action-blocked,
   :params [],
   :result :string,
   :effects #{},
   :body "blocked",
   :param-types []}
  {:name action-needs-build,
   :params [],
   :result :string,
   :effects #{},
   :body "needs-build",
   :param-types []}
  {:name action-name,
   :params [x],
   :result :string,
   :effects #{},
   :body
   (let
    [running
     (record-get
      [:record
       :reconcile/action-in
       [[:cid [:option :string]]
        [:running :i64]
        [:desired-n :i64]
        [:free-candidates :i64]]]
      x
      :running)
     desired-n
     (record-get
      [:record
       :reconcile/action-in
       [[:cid [:option :string]]
        [:running :i64]
        [:desired-n :i64]
        [:free-candidates :i64]]]
      x
      :desired-n)
     free-candidates
     (record-get
      [:record
       :reconcile/action-in
       [[:cid [:option :string]]
        [:running :i64]
        [:desired-n :i64]
        [:free-candidates :i64]]]
      x
      :free-candidates)
     def-n
     (deficit
      (record-new
       [:record :reconcile/deficit [[:desired :i64] [:running :i64]]]
       desired-n
       running))]
    (let
     [__kotoba_binding-some_2
      (record-get
       [:record
        :reconcile/action-in
        [[:cid [:option :string]]
         [:running :i64]
         [:desired-n :i64]
         [:free-candidates :i64]]]
       x
       :cid)]
     (if
      (option-some?-of [:option :string] __kotoba_binding-some_2)
      (let
       [_
        (option-value-of [:option :string] __kotoba_binding-some_2 "")]
       (if
        (< desired-n running)
        (action-over)
        (if
         (= def-n 0)
         (action-satisfied)
         (if (< free-candidates 1) (action-blocked) (action-place)))))
      (action-needs-build)))),
   :param-types [[:ref :reconcile/action-in]]}
  {:name better-target?,
   :params [load-a load-b name-a-before-b],
   :result :bool,
   :effects #{},
   :body
   (if
    (< load-a load-b)
    true
    (if (< load-b load-a) false name-a-before-b)),
   :param-types [:i64 :i64 :bool]}
  {:name first-of-2,
   :params [load0 load1 name0-before-1],
   :result :i64,
   :effects #{},
   :body (if (better-target? load0 load1 name0-before-1) 0 1),
   :param-types [:i64 :i64 :bool]}
  {:name name-order-record,
   :params [n01 n02 n12],
   :result [:ref :reconcile/name-order],
   :effects #{},
   :body
   (record-new
    [:record
     :reconcile/name-order
     [[:n01 :bool] [:n02 :bool] [:n12 :bool]]]
    n01
    n02
    n12),
   :param-types [:bool :bool :bool]}
  {:name first-of-3,
   :params [load0 load1 load2 names],
   :result :i64,
   :effects #{},
   :body
   (let
    [n01
     (record-get
      [:record
       :reconcile/name-order
       [[:n01 :bool] [:n02 :bool] [:n12 :bool]]]
      names
      :n01)
     n02
     (record-get
      [:record
       :reconcile/name-order
       [[:n01 :bool] [:n02 :bool] [:n12 :bool]]]
      names
      :n02)
     n12
     (record-get
      [:record
       :reconcile/name-order
       [[:n01 :bool] [:n02 :bool] [:n12 :bool]]]
      names
      :n12)
     w01
     (first-of-2 load0 load1 n01)]
    (if
     (= w01 0)
     (if (better-target? load0 load2 n02) 0 2)
     (if (better-target? load1 load2 n12) 1 2))),
   :param-types [:i64 :i64 :i64 [:ref :reconcile/name-order]]}
  {:name targets-record,
   :params [first second count],
   :result [:ref :reconcile/targets],
   :effects #{},
   :body
   (record-new
    [:record
     :reconcile/targets
     [[:first :i64] [:second :i64] [:count :i64]]]
    first
    second
    count),
   :param-types [:i64 :i64 :i64]}
  {:name targets-first,
   :params [t],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :reconcile/targets
     [[:first :i64] [:second :i64] [:count :i64]]]
    t
    :first),
   :param-types [[:ref :reconcile/targets]]}
  {:name targets-second,
   :params [t],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :reconcile/targets
     [[:first :i64] [:second :i64] [:count :i64]]]
    t
    :second),
   :param-types [[:ref :reconcile/targets]]}
  {:name targets-count,
   :params [t],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :reconcile/targets
     [[:first :i64] [:second :i64] [:count :i64]]]
    t
    :count),
   :param-types [[:ref :reconcile/targets]]}
  {:name pick-targets-2-record,
   :params [load0 load1 name0-before-1 n],
   :result [:ref :reconcile/targets],
   :effects #{},
   :body
   (if
    (< n 1)
    (targets-record 0 0 0)
    (let
     [f (first-of-2 load0 load1 name0-before-1) s (if (= f 0) 1 0)]
     (if (= n 1) (targets-record f 0 1) (targets-record f s 2)))),
   :param-types [:i64 :i64 :bool :i64]}
  {:name pick-targets-3-first,
   :params [load0 load1 load2 names],
   :result :i64,
   :effects #{},
   :body (first-of-3 load0 load1 load2 names),
   :param-types [:i64 :i64 :i64 [:ref :reconcile/name-order]]}
  {:name blank?,
   :params [s],
   :result :bool,
   :effects #{},
   :body
   (let
    [n (string-byte-length s)]
    (if
     (= n 0)
     true
     (if
      (ws? (string-substring s 0 1))
      (blank? (string-substring s 1 n))
      false))),
   :param-types [:string]}
  {:name missing-manifest?,
   :params [manifest],
   :result :bool,
   :effects #{},
   :body (blank? manifest),
   :param-types [:string]}
  {:name action-is-satisfied?,
   :params [action],
   :result :bool,
   :effects #{},
   :body (if (string=? action (action-satisfied)) true false),
   :param-types [:string]}
  {:name action-is-place?,
   :params [action],
   :result :bool,
   :effects #{},
   :body (if (string=? action (action-place)) true false),
   :param-types [:string]}
  {:name default-watch-seconds,
   :params [],
   :result :i64,
   :effects #{},
   :body 30,
   :param-types []}
  {:name starts-with?,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (let
    [s
     (record-get
      [:record :reconcile/starts-with [[:s :string] [:prefix :string]]]
      x
      :s)
     prefix
     (record-get
      [:record :reconcile/starts-with [[:s :string] [:prefix :string]]]
      x
      :prefix)
     n
     (string-byte-length s)
     p
     (string-byte-length prefix)]
    (if
     (< n p)
     false
     (if (string=? (string-substring s 0 p) prefix) true false))),
   :param-types [[:ref :reconcile/starts-with]]}
  {:name flag-dry-run,
   :params [],
   :result :string,
   :effects #{},
   :body "--dry-run",
   :param-types []}
  {:name flag-apply,
   :params [],
   :result :string,
   :effects #{},
   :body "--apply",
   :param-types []}
  {:name flag-watch,
   :params [],
   :result :string,
   :effects #{},
   :body "--watch",
   :param-types []}
  {:name flag-watch-eq-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "--watch=",
   :param-types []}
  {:name flag-snapshot-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "--snapshot=",
   :param-types []}
  {:name flag-dash-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "--",
   :param-types []}
  {:name flag-is-dry-run?,
   :params [a],
   :result :bool,
   :effects #{},
   :body (if (string=? a (flag-dry-run)) true false),
   :param-types [:string]}
  {:name flag-is-apply?,
   :params [a],
   :result :bool,
   :effects #{},
   :body (if (string=? a (flag-apply)) true false),
   :param-types [:string]}
  {:name flag-is-watch?,
   :params [a],
   :result :bool,
   :effects #{},
   :body
   (starts-with?
    (record-new
     [:record :reconcile/starts-with [[:s :string] [:prefix :string]]]
     a
     (flag-watch))),
   :param-types [:string]}
  {:name flag-is-snapshot?,
   :params [a],
   :result :bool,
   :effects #{},
   :body
   (starts-with?
    (record-new
     [:record :reconcile/starts-with [[:s :string] [:prefix :string]]]
     a
     (flag-snapshot-prefix))),
   :param-types [:string]}
  {:name flag-is-dash?,
   :params [a],
   :result :bool,
   :effects #{},
   :body
   (starts-with?
    (record-new
     [:record :reconcile/starts-with [[:s :string] [:prefix :string]]]
     a
     (flag-dash-prefix))),
   :param-types [:string]}
  {:name ws?,
   :params [c],
   :result :bool,
   :effects #{},
   :body
   (if
    (string=? c " ")
    true
    (if
     (string=? c "\n")
     true
     (if (string=? c "\t") true (if (string=? c "\r") true false)))),
   :param-types [:string]}
  {:name trim-ws,
   :params [s],
   :result :string,
   :effects #{},
   :body
   (let
    [n (string-byte-length s)]
    (if
     (= n 0)
     s
     (if
      (ws? (string-substring s 0 1))
      (trim-ws (string-substring s 1 n))
      (if
       (ws? (string-substring s (- n 1) n))
       (trim-ws (string-substring s 0 (- n 1)))
       s)))),
   :param-types [:string]}
  {:name digit-val?,
   :params [c],
   :result :bool,
   :effects #{},
   :body
   (if
    (= (string-byte-length c) 1)
    (if (string-contains? "0123456789" c) true false)
    false),
   :param-types [:string]}
  {:name digit-of-go,
   :params [digits c i],
   :result :i64,
   :effects #{},
   :body
   (let
    [n (string-byte-length digits)]
    (if
     (< i n)
     (if
      (string=? (string-substring digits i (+ i 1)) c)
      i
      (digit-of-go digits c (+ i 1)))
     0)),
   :param-types [:string :string :i64]}
  {:name digit-of,
   :params [c],
   :result :i64,
   :effects #{},
   :body (digit-of-go "0123456789" c 0),
   :param-types [:string]}
  {:name parse-digits-go,
   :params [s acc],
   :result :i64,
   :effects #{},
   :body
   (let
    [n (string-byte-length s)]
    (if
     (= n 0)
     acc
     (let
      [c (string-substring s 0 1)]
      (if
       (digit-val? c)
       (parse-digits-go
        (string-substring s 1 n)
        (+ (* acc 10) (digit-of c)))
       -1)))),
   :param-types [:string :i64]}
  {:name parse-digits,
   :params [s],
   :result :i64,
   :effects #{},
   :body
   (let
    [t (trim-ws s) n (string-byte-length t)]
    (if (= n 0) -1 (parse-digits-go t 0))),
   :param-types [:string]}
  {:name watch-seconds,
   :params [a],
   :result :i64,
   :effects #{},
   :body
   (if
    (string=? a (flag-watch))
    (default-watch-seconds)
    (if
     (starts-with?
      (record-new
       [:record
        :reconcile/starts-with
        [[:s :string] [:prefix :string]]]
       a
       (flag-watch-eq-prefix)))
     (let
      [n
       (string-byte-length a)
       plen
       (string-byte-length (flag-watch-eq-prefix))
       v
       (parse-digits (string-substring a plen n))]
      (if (< v 0) (default-watch-seconds) v))
     (default-watch-seconds))),
   :param-types [:string]}
  {:name snapshot-value,
   :params [a],
   :result :string,
   :effects #{},
   :body
   (if
    (starts-with?
     (record-new
      [:record :reconcile/starts-with [[:s :string] [:prefix :string]]]
      a
      (flag-snapshot-prefix)))
    (let
     [n
      (string-byte-length a)
      plen
      (string-byte-length (flag-snapshot-prefix))]
     (string-substring a plen n))
    ""),
   :param-types [:string]}
  {:name reconcile-record-type,
   :params [],
   :result :string,
   :effects #{},
   :body "com.murakumo.fleet.reconcile",
   :param-types []}],
 :oracle-value nil,
 :schema-identities
 #:reconcile{:action-in
             "c4fcd70554cf78f612742688bc4c4f365b76c2f66718d0e06c563ad69e833554",
             :deficit
             "515a1e2316f375930f70b70e3e1a007e516cfa081f52e3b9b4a4bb24e4e36913",
             :name-order
             "160a37afa4c8a7de1cfb7d5cf62cf4fa806f8c970b9e0e28ba31d9a06e2b6dee",
             :starts-with
             "c92fadc5d83a4efdc7812ab378e42d4acdbb6f4fd96c502bd882a84fb86305dd",
             :targets
             "30e5eecd463fb5f4929126f1935f8e796ddcccdce19a9d0a9706fa50b37f5f8c"},
 :exports
 [default-replicas
  desired
  deficit
  watch-sleep-ms
  action-name
  better-target?
  first-of-2
  first-of-3
  name-order-record
  pick-targets-2-record
  pick-targets-3-first
  targets-first
  targets-second
  targets-count
  blank?
  missing-manifest?
  action-is-satisfied?
  action-is-place?
  default-watch-seconds
  starts-with?
  flag-is-dry-run?
  flag-is-apply?
  flag-is-watch?
  flag-is-snapshot?
  flag-is-dash?
  watch-seconds
  snapshot-value
  digit-val?
  digit-of-go
  digit-of
  parse-digits-go
  parse-digits
  trim-ws
  flag-dry-run
  flag-apply
  flag-watch
  flag-watch-eq-prefix
  flag-snapshot-prefix
  flag-dash-prefix
  action-satisfied
  action-place
  action-over
  action-blocked
  action-needs-build
  reconcile-record-type],
 :schemas
 #:reconcile{:deficit
             [:record
              :reconcile/deficit
              [[:desired :i64] [:running :i64]]],
             :targets
             [:record
              :reconcile/targets
              [[:first :i64] [:second :i64] [:count :i64]]],
             :name-order
             [:record
              :reconcile/name-order
              [[:n01 :bool] [:n02 :bool] [:n12 :bool]]],
             :starts-with
             [:record
              :reconcile/starts-with
              [[:s :string] [:prefix :string]]],
             :action-in
             [:record
              :reconcile/action-in
              [[:cid [:option :string]]
               [:running :i64]
               [:desired-n :i64]
               [:free-candidates :i64]]]},
 :effects #{},
 :blocks [],
 :entry nil}
