{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name default-max-slots,
   :params [],
   :result :i64,
   :effects #{},
   :body 8,
   :param-types []}
  {:name default-max-attempts,
   :params [],
   :result :i64,
   :effects #{},
   :body 2,
   :param-types []}
  {:name default-timeout-ms,
   :params [],
   :result :i64,
   :effects #{},
   :body 120000,
   :param-types []}
  {:name capacity,
   :params [node-slots slots-per cores],
   :result :i64,
   :effects #{},
   :body
   (if
    (< node-slots 0)
    (if (< slots-per 0) (if (< cores 0) 1 cores) slots-per)
    node-slots),
   :param-types [:i64 :i64 :i64]}
  {:name slots,
   :params [budget-slots node-slots slots-per max-slots cores],
   :result :i64,
   :effects #{},
   :body
   (if
    (< budget-slots 0)
    (let
     [cap
      (capacity node-slots slots-per cores)
      m
      (if (< max-slots 0) 8 max-slots)
      capped
      (if (< cap m) cap m)]
     (if (< capped 1) 1 capped))
    budget-slots),
   :param-types [:i64 :i64 :i64 :i64 :i64]}
  {:name failed?,
   :params [exit timeout error],
   :result :bool,
   :effects #{},
   :body
   (let
    [binding-some__1 error]
    (if
     (option-some?-of [:option :string] binding-some__1)
     (let
      [_ (option-value-of [:option :string] binding-some__1 "")]
      true)
     (if
      timeout
      true
      (let
       [binding-some__2 exit]
       (if
        (option-some?-of [:option :i64] binding-some__2)
        (let
         [e (option-value-of [:option :i64] binding-some__2 0)]
         (if (= e 0) false true))
        true))))),
   :param-types [[:option :i64] :bool [:option :string]]}
  {:name can-retry?,
   :params [attempt max-attempts],
   :result :bool,
   :effects #{},
   :body (if (< attempt max-attempts) true false),
   :param-types [:i64 :i64]}
  {:name task-eligible?,
   :params [e mem-bytes min-mem],
   :result :bool,
   :effects #{},
   :body
   (if
    (record-get
     [:record
      :task/eligibility
      [[:online :bool]
       [:labels-ok :bool]
       [:roles-ok :bool]
       [:not-excluded :bool]
       [:allowlist-ok :bool]]]
     e
     :online)
    (if
     (record-get
      [:record
       :task/eligibility
       [[:online :bool]
        [:labels-ok :bool]
        [:roles-ok :bool]
        [:not-excluded :bool]
        [:allowlist-ok :bool]]]
      e
      :labels-ok)
     (if
      (record-get
       [:record
        :task/eligibility
        [[:online :bool]
         [:labels-ok :bool]
         [:roles-ok :bool]
         [:not-excluded :bool]
         [:allowlist-ok :bool]]]
       e
       :roles-ok)
      (if
       (record-get
        [:record
         :task/eligibility
         [[:online :bool]
          [:labels-ok :bool]
          [:roles-ok :bool]
          [:not-excluded :bool]
          [:allowlist-ok :bool]]]
        e
        :not-excluded)
       (if
        (record-get
         [:record
          :task/eligibility
          [[:online :bool]
           [:labels-ok :bool]
           [:roles-ok :bool]
           [:not-excluded :bool]
           [:allowlist-ok :bool]]]
         e
         :allowlist-ok)
        (if (>= mem-bytes min-mem) true false)
        false)
       false)
      false)
     false)
    false),
   :param-types [[:ref :task/eligibility] :i64 :i64]}
  {:name fill-milli,
   :params [assigned slots],
   :result :i64,
   :effects #{},
   :body (if (< slots 1) 0 (quot (* assigned 1000) slots)),
   :param-types [:i64 :i64]}
  {:name better-fill?,
   :params [fill0 fill1],
   :result :bool,
   :effects #{},
   :body (if (< fill0 fill1) true false),
   :param-types [:i64 :i64]}
  {:name better-task-score?,
   :params [fill0 load0 _memneg0 fill1 load1],
   :result :i64,
   :effects #{},
   :body
   (if
    (< fill0 fill1)
    1
    (if
     (< fill1 fill0)
     0
     (if (< load0 load1) 1 (if (< load1 load0) 0 2)))),
   :param-types [:i64 :i64 :i64 :i64 :i64]}
  {:name better-mem?,
   :params [memneg0 memneg1 name-ord0 name-ord1],
   :result :bool,
   :effects #{},
   :body
   (if
    (< memneg0 memneg1)
    true
    (if
     (< memneg1 memneg0)
     false
     (if (< name-ord0 name-ord1) true false))),
   :param-types [:i64 :i64 :i64 :i64]}
  {:name wave-of,
   :params [used slots],
   :result :i64,
   :effects #{},
   :body (if (< slots 1) 0 (quot used slots)),
   :param-types [:i64 :i64]}
  {:name slot-of,
   :params [used slots],
   :result :i64,
   :effects #{},
   :body (if (< slots 1) 0 (- used (* (quot used slots) slots))),
   :param-types [:i64 :i64]}
  {:name load-after-assign,
   :params [used],
   :result :i64,
   :effects #{},
   :body (+ used 1),
   :param-types [:i64]}
  {:name digit-char,
   :params [d],
   :result :string,
   :effects #{},
   :body (string-substring "0123456789" d (+ d 1)),
   :param-types [:i64]}
  {:name nat-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (digit-char n)
    (string-concat
     (nat-str (quot n 10))
     (digit-char (- n (* (quot n 10) 10))))),
   :param-types [:i64]}
  {:name i64-str,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if (< n 0) (string-concat "-" (nat-str (- 0 n))) (nat-str n)),
   :param-types [:i64]}
  {:name rem64,
   :params [a b],
   :result :i64,
   :effects #{},
   :body (- a (* (quot a b) b)),
   :param-types [:i64 :i64]}
  {:name pad4,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (let
    [m (if (< n 0) 0 n) d (rem64 m 10000)]
    (if
     (< d 10)
     (string-concat "000" (i64-str d))
     (if
      (< d 100)
      (string-concat "00" (i64-str d))
      (if (< d 1000) (string-concat "0" (i64-str d)) (i64-str d))))),
   :param-types [:i64]}
  {:name task-id,
   :params [i],
   :result :string,
   :effects #{},
   :body (string-concat "t-" (pad4 i)),
   :param-types [:i64]}
  {:name attempt-next,
   :params [attempt],
   :result :i64,
   :effects #{},
   :body (+ attempt 1),
   :param-types [:i64]}
  {:name exclude-append-marker,
   :params [],
   :result :i64,
   :effects #{},
   :body 1,
   :param-types []}
  {:name pair-record,
   :params [a b],
   :result [:ref :task/pair],
   :effects #{},
   :body (record-new [:record :task/pair [[:a :i64] [:b :i64]]] a b),
   :param-types [:i64 :i64]}
  {:name triple-record,
   :params [v0 v1 v2],
   :result [:ref :task/triple],
   :effects #{},
   :body
   (record-new
    [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
    v0
    v1
    v2),
   :param-types [:i64 :i64 :i64]}
  {:name pick-task-idx-2,
   :params [ok0 ok1 fill0 fill1 loads],
   :result :i64,
   :effects #{},
   :body
   (let
    [load0
     (record-get [:record :task/pair [[:a :i64] [:b :i64]]] loads :a)
     load1
     (record-get [:record :task/pair [[:a :i64] [:b :i64]]] loads :b)]
    (if
     (= ok0 0)
     (if (= ok1 0) -1 1)
     (if
      (= ok1 0)
      0
      (let
       [b (better-task-score? fill0 load0 0 fill1 load1)]
       (if (= b 2) 0 (if (= b 1) 0 1)))))),
   :param-types [:i64 :i64 :i64 :i64 [:ref :task/pair]]}
  {:name assign-task-step-2,
   :params [load0 load1 ok0 ok1 fills],
   :result [:ref :task/assign2],
   :effects #{},
   :body
   (let
    [fill0
     (record-get [:record :task/pair [[:a :i64] [:b :i64]]] fills :a)
     fill1
     (record-get [:record :task/pair [[:a :i64] [:b :i64]]] fills :b)
     p
     (if
      (= ok0 0)
      (if (= ok1 0) -1 1)
      (if
       (= ok1 0)
       0
       (let
        [b (better-task-score? fill0 load0 0 fill1 load1)]
        (if (= b 2) 0 (if (= b 1) 0 1)))))
     code
     (if (< p 0) 0 (+ p 1))
     n0
     (if (= p 0) (+ load0 1) load0)
     n1
     (if (= p 1) (+ load1 1) load1)]
    (record-new
     [:record :task/assign2 [[:code :i64] [:load0 :i64] [:load1 :i64]]]
     code
     n0
     n1)),
   :param-types [:i64 :i64 :i64 :i64 [:ref :task/pair]]}
  {:name assign-task-2-code,
   :params [r],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record :task/assign2 [[:code :i64] [:load0 :i64] [:load1 :i64]]]
    r
    :code),
   :param-types [[:ref :task/assign2]]}
  {:name assign-task-2-load0,
   :params [r],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record :task/assign2 [[:code :i64] [:load0 :i64] [:load1 :i64]]]
    r
    :load0),
   :param-types [[:ref :task/assign2]]}
  {:name assign-task-2-load1,
   :params [r],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record :task/assign2 [[:code :i64] [:load0 :i64] [:load1 :i64]]]
    r
    :load1),
   :param-types [[:ref :task/assign2]]}
  {:name pick-task-fold-step,
   :params [champ ok-i better-c-i],
   :result :i64,
   :effects #{},
   :body
   (let
    [binding-some__3 champ]
    (if
     (option-some?-of [:option :i64] binding-some__3)
     (let
      [_ (option-value-of [:option :i64] binding-some__3 0)]
      (if (= ok-i 0) 2 (if (= better-c-i 1) 1 2)))
     (if (= ok-i 0) 0 1))),
   :param-types [[:option :i64] :i64 :i64]}
  {:name load-inc-if,
   :params [load picked],
   :result :i64,
   :effects #{},
   :body (if (= picked 0) load (+ load 1)),
   :param-types [:i64 :i64]}
  {:name challenger-wins?,
   :params [fill-c load-c fill-i load-i],
   :result :bool,
   :effects #{},
   :body
   (let
    [b (better-task-score? fill-c load-c 0 fill-i load-i)]
    (if (= b 0) true false)),
   :param-types [:i64 :i64 :i64 :i64]}
  {:name assign-task-pick-3,
   :params [ok fill load],
   :result :i64,
   :effects #{},
   :body
   (let
    [ok0
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      ok
      :v0)
     ok1
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      ok
      :v1)
     ok2
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      ok
      :v2)
     f0
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      fill
      :v0)
     f1
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      fill
      :v1)
     f2
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      fill
      :v2)
     l0
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      load
      :v0)
     l1
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      load
      :v1)
     l2
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      load
      :v2)
     p01
     (if
      (= ok0 0)
      (if (= ok1 0) -1 1)
      (if
       (= ok1 0)
       0
       (let
        [b (better-task-score? f0 l0 0 f1 l1)]
        (if (= b 2) 0 (if (= b 1) 0 1)))))
     fc
     (if (= p01 0) f0 (if (= p01 1) f1 0))
     lc
     (if (= p01 0) l0 (if (= p01 1) l1 0))
     win2
     (if (< p01 0) false (challenger-wins? fc lc f2 l2))]
    (if
     (< p01 0)
     (if (= ok2 0) -1 2)
     (if (= ok2 0) p01 (if win2 2 p01)))),
   :param-types
   [[:ref :task/triple] [:ref :task/triple] [:ref :task/triple]]}
  {:name apply-task-pick-3,
   :params [load pick],
   :result [:ref :task/triple],
   :effects #{},
   :body
   (let
    [l0
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      load
      :v0)
     l1
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      load
      :v1)
     l2
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      load
      :v2)
     n0
     (load-inc-if l0 (if (= pick 0) 1 0))
     n1
     (load-inc-if l1 (if (= pick 1) 1 0))
     n2
     (load-inc-if l2 (if (= pick 2) 1 0))]
    (record-new
     [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
     n0
     n1
     n2)),
   :param-types [[:ref :task/triple] :i64]}
  {:name assign-task-step-3,
   :params [load ok fill],
   :result [:ref :task/assign3],
   :effects #{},
   :body
   (let
    [p
     (assign-task-pick-3 ok fill load)
     code
     (if (< p 0) 0 (+ p 1))
     nload
     (apply-task-pick-3 load p)]
    (record-new
     [:record
      :task/assign3
      [[:code :i64] [:load0 :i64] [:load1 :i64] [:load2 :i64]]]
     code
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      nload
      :v0)
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      nload
      :v1)
     (record-get
      [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]]
      nload
      :v2))),
   :param-types
   [[:ref :task/triple] [:ref :task/triple] [:ref :task/triple]]}
  {:name assign-task-3-code,
   :params [r],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :task/assign3
     [[:code :i64] [:load0 :i64] [:load1 :i64] [:load2 :i64]]]
    r
    :code),
   :param-types [[:ref :task/assign3]]}
  {:name assign-task-3-load0,
   :params [r],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :task/assign3
     [[:code :i64] [:load0 :i64] [:load1 :i64] [:load2 :i64]]]
    r
    :load0),
   :param-types [[:ref :task/assign3]]}
  {:name assign-task-3-load1,
   :params [r],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :task/assign3
     [[:code :i64] [:load0 :i64] [:load1 :i64] [:load2 :i64]]]
    r
    :load1),
   :param-types [[:ref :task/assign3]]}
  {:name assign-task-3-load2,
   :params [r],
   :result :i64,
   :effects #{},
   :body
   (record-get
    [:record
     :task/assign3
     [[:code :i64] [:load0 :i64] [:load1 :i64] [:load2 :i64]]]
    r
    :load2),
   :param-types [[:ref :task/assign3]]}
  {:name nearest-rank-idx,
   :params [n p-milli],
   :result :i64,
   :effects #{},
   :body
   (if
    (< n 1)
    -1
    (let
     [raw
      (quot (* p-milli n) 1000)
      hi
      (- n 1)
      idx
      (if (< raw 0) 0 raw)]
     (if (< hi idx) hi idx))),
   :param-types [:i64 :i64]}
  {:name summary-retried,
   :params [attempts finals],
   :result :i64,
   :effects #{},
   :body (let [d (- attempts finals)] (if (< d 0) 0 d)),
   :param-types [:i64 :i64]}
  {:name speedup-milli,
   :params [task-ms wall-ms],
   :result :i64,
   :effects #{},
   :body
   (if
    (if (< wall-ms 1) 1 (if (< task-ms 1) 1 0))
    0
    (quot (* task-ms 1000) wall-ms)),
   :param-types [:i64 :i64]}
  {:name max2,
   :params [a b],
   :result :i64,
   :effects #{},
   :body (if (< a b) b a),
   :param-types [:i64 :i64]}
  {:name min2,
   :params [a b],
   :result :i64,
   :effects #{},
   :body (if (< a b) a b),
   :param-types [:i64 :i64]}
  {:name clamp-nonneg,
   :params [n],
   :result :i64,
   :effects #{},
   :body (if (< n 0) 0 n),
   :param-types [:i64]}
  {:name exclude-join-sep,
   :params [],
   :result :string,
   :effects #{},
   :body ",",
   :param-types []}
  {:name unsched-placement-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "no node satisfies placement=",
   :param-types []}
  {:name unsched-excluding-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body " excluding=",
   :param-types []}
  {:name unsched-min-mem-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body " min-mem-bytes=",
   :param-types []}
  {:name unschedulable-detail,
   :params [placement excluding min-mem-str],
   :result :string,
   :effects #{},
   :body
   (let
    [base
     (string-concat (unsched-placement-prefix) placement)
     with-ex
     (if
      (string=? excluding "")
      base
      (string-concat
       base
       (string-concat (unsched-excluding-prefix) excluding)))]
    (if
     (string=? min-mem-str "")
     with-ex
     (string-concat
      with-ex
      (string-concat (unsched-min-mem-prefix) min-mem-str)))),
   :param-types [:string :string :string]}],
 :oracle-value nil,
 :schema-identities
 #:task{:assign2
        "f99c1bdeaad19a34bf13a8098483eb43c5b4209b26e3745a07ef21b8ce0cdd3a",
        :assign3
        "af4105286bf0f7cc0091bc40447b37777a9bce64981f5fa4914fdaf1f214bfdc",
        :eligibility
        "1da80535524336df511aced5eb1885792164d71c69020cd3070cd2748081af68",
        :pair
        "6f0a171b58c84ccfbc9aa37207d69e981d84e83e5bd1f21f02cfc252384500ba",
        :triple
        "eadbabcab608862cac0e7adafcef8756e68a8105f6aa7e4e20b4999c366b56ef"},
 :exports
 [default-max-slots
  default-max-attempts
  default-timeout-ms
  slots
  failed?
  can-retry?
  task-eligible?
  fill-milli
  better-fill?
  better-task-score?
  better-mem?
  wave-of
  slot-of
  load-after-assign
  digit-char
  nat-str
  i64-str
  pad4
  task-id
  pair-record
  pick-task-idx-2
  assign-task-step-2
  assign-task-2-code
  assign-task-2-load0
  assign-task-2-load1
  attempt-next
  exclude-append-marker
  pick-task-fold-step
  load-inc-if
  challenger-wins?
  triple-record
  assign-task-pick-3
  apply-task-pick-3
  assign-task-step-3
  assign-task-3-code
  assign-task-3-load0
  assign-task-3-load1
  assign-task-3-load2
  nearest-rank-idx
  summary-retried
  speedup-milli
  max2
  min2
  clamp-nonneg
  unschedulable-detail
  exclude-join-sep
  unsched-placement-prefix
  unsched-excluding-prefix
  unsched-min-mem-prefix],
 :schemas
 #:task{:pair [:record :task/pair [[:a :i64] [:b :i64]]],
        :triple
        [:record :task/triple [[:v0 :i64] [:v1 :i64] [:v2 :i64]]],
        :assign2
        [:record
         :task/assign2
         [[:code :i64] [:load0 :i64] [:load1 :i64]]],
        :assign3
        [:record
         :task/assign3
         [[:code :i64] [:load0 :i64] [:load1 :i64] [:load2 :i64]]],
        :eligibility
        [:record
         :task/eligibility
         [[:online :bool]
          [:labels-ok :bool]
          [:roles-ok :bool]
          [:not-excluded :bool]
          [:allowlist-ok :bool]]]},
 :effects #{},
 :blocks [],
 :entry nil}
