{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name version,
   :params [],
   :result :string,
   :effects #{},
   :body "mk1",
   :param-types []}
  {:name default-ttl,
   :params [],
   :result :i64,
   :effects #{},
   :body 2592000,
   :param-types []}
  {:name default-sub,
   :params [],
   :result :string,
   :effects #{},
   :body "anonymous",
   :param-types []}
  {:name default-scope,
   :params [],
   :result :string,
   :effects #{},
   :body "all",
   :param-types []}
  {:name scope-all,
   :params [],
   :result :string,
   :effects #{},
   :body "all",
   :param-types []}
  {:name jwt-seg-sep,
   :params [],
   :result :string,
   :effects #{},
   :body ".",
   :param-types []}
  {:name wire-sep,
   :params [],
   :result :string,
   :effects #{},
   :body (jwt-seg-sep),
   :param-types []}
  {:name json-sub-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "{\"sub\":\"",
   :param-types []}
  {:name json-scope-mid,
   :params [],
   :result :string,
   :effects #{},
   :body "\",\"scope\":\"",
   :param-types []}
  {:name json-iat-mid,
   :params [],
   :result :string,
   :effects #{},
   :body "\",\"iat\":",
   :param-types []}
  {:name json-exp-mid,
   :params [],
   :result :string,
   :effects #{},
   :body ",\"exp\":",
   :param-types []}
  {:name json-close,
   :params [],
   :result :string,
   :effects #{},
   :body "}",
   :param-types []}
  {:name claim-sub,
   :params [sub],
   :result :string,
   :effects #{},
   :body
   (let
    [__kotoba_binding-some_1 sub]
    (if
     (option-some?-of [:option :string] __kotoba_binding-some_1)
     (let
      [x
       (option-value-of [:option :string] __kotoba_binding-some_1 "")]
      x)
     (default-sub))),
   :param-types [[:option :string]]}
  {:name claim-scope,
   :params [scope],
   :result :string,
   :effects #{},
   :body
   (let
    [__kotoba_binding-some_2 scope]
    (if
     (option-some?-of [:option :string] __kotoba_binding-some_2)
     (let
      [x
       (option-value-of [:option :string] __kotoba_binding-some_2 "")]
      x)
     (default-scope))),
   :param-types [[:option :string]]}
  {:name claim-exp,
   :params [x],
   :result :i64,
   :effects #{},
   :body
   (+
    (record-get
     [:record :token/claim-exp [[:now :i64] [:ttl [:option :i64]]]]
     x
     :now)
    (let
     [__kotoba_binding-some_3
      (record-get
       [:record :token/claim-exp [[:now :i64] [:ttl [:option :i64]]]]
       x
       :ttl)]
     (if
      (option-some?-of [:option :i64] __kotoba_binding-some_3)
      (let
       [ttl (option-value-of [:option :i64] __kotoba_binding-some_3 0)]
       ttl)
      (default-ttl)))),
   :param-types [[:ref :token/claim-exp]]}
  {:name expired?,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (let
    [now
     (record-get
      [:record :token/expired [[:exp [:option :i64]] [:now :i64]]]
      x
      :now)]
    (let
     [__kotoba_binding-some_4
      (record-get
       [:record :token/expired [[:exp [:option :i64]] [:now :i64]]]
       x
       :exp)]
     (if
      (option-some?-of [:option :i64] __kotoba_binding-some_4)
      (let
       [e (option-value-of [:option :i64] __kotoba_binding-some_4 0)]
       (if (< now e) false true))
      true))),
   :param-types [[:ref :token/expired]]}
  {:name scope-allows?,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (if
    (string=?
     (record-get
      [:record
       :token/scope-check
       [[:token-scope :string] [:required :string]]]
      x
      :token-scope)
     (scope-all))
    true
    (if
     (string=?
      (record-get
       [:record
        :token/scope-check
        [[:token-scope :string] [:required :string]]]
       x
       :token-scope)
      (record-get
       [:record
        :token/scope-check
        [[:token-scope :string] [:required :string]]]
       x
       :required))
     true
     false)),
   :param-types [[:ref :token/scope-check]]}
  {:name signing-input,
   :params [payload-seg],
   :result :string,
   :effects #{},
   :body
   (string-concat (version) (string-concat (jwt-seg-sep) payload-seg)),
   :param-types [:string]}
  {:name encode-claims-json,
   :params [c],
   :result :string,
   :effects #{},
   :body
   (let
    [a
     (string-concat
      (json-sub-prefix)
      (record-get
       [:record
        :token/claims
        [[:sub :string] [:scope :string] [:iat :i64] [:exp :i64]]]
       c
       :sub))
     b
     (string-concat a (json-scope-mid))
     c1
     (string-concat
      b
      (record-get
       [:record
        :token/claims
        [[:sub :string] [:scope :string] [:iat :i64] [:exp :i64]]]
       c
       :scope))
     d
     (string-concat c1 (json-iat-mid))
     e
     (string-concat
      d
      (__kotoba_string_from_i64
       (record-get
        [:record
         :token/claims
         [[:sub :string] [:scope :string] [:iat :i64] [:exp :i64]]]
        c
        :iat)))
     f
     (string-concat e (json-exp-mid))
     g
     (string-concat
      f
      (__kotoba_string_from_i64
       (record-get
        [:record
         :token/claims
         [[:sub :string] [:scope :string] [:iat :i64] [:exp :i64]]]
        c
        :exp)))]
    (string-concat g (json-close))),
   :param-types [[:ref :token/claims]]}
  {:name wire-token,
   :params [w],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (version)
    (string-concat
     (wire-sep)
     (string-concat
      (record-get
       [:record :token/wire [[:payload :string] [:sig :string]]]
       w
       :payload)
      (string-concat
       (wire-sep)
       (record-get
        [:record :token/wire [[:payload :string] [:sig :string]]]
        w
        :sig))))),
   :param-types [[:ref :token/wire]]}
  {:name version-ok?,
   :params [v],
   :result :bool,
   :effects #{},
   :body (if (string=? v (version)) true false),
   :param-types [:string]}
  {:name parts-present?,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (let
    [__kotoba_binding-some_5
     (record-get
      [:record
       :token/parts
       [[:v [:option :string]]
        [:payload [:option :string]]
        [:sig [:option :string]]]]
      x
      :v)]
    (if
     (option-some?-of [:option :string] __kotoba_binding-some_5)
     (let
      [_
       (option-value-of [:option :string] __kotoba_binding-some_5 "")]
      (let
       [__kotoba_binding-some_6
        (record-get
         [:record
          :token/parts
          [[:v [:option :string]]
           [:payload [:option :string]]
           [:sig [:option :string]]]]
         x
         :payload)]
       (if
        (option-some?-of [:option :string] __kotoba_binding-some_6)
        (let
         [_
          (option-value-of
           [:option :string]
           __kotoba_binding-some_6
           "")]
         (let
          [__kotoba_binding-some_7
           (record-get
            [:record
             :token/parts
             [[:v [:option :string]]
              [:payload [:option :string]]
              [:sig [:option :string]]]]
            x
            :sig)]
          (if
           (option-some?-of [:option :string] __kotoba_binding-some_7)
           (let
            [_
             (option-value-of
              [:option :string]
              __kotoba_binding-some_7
              "")]
            true)
           false)))
        false)))
     false)),
   :param-types [[:ref :token/parts]]}
  {:name ct-scan,
   :params [x],
   :result :i64,
   :effects #{},
   :body
   (let
    [a
     (record-get
      [:record
       :token/ct-scan
       [[:a :string] [:b :string] [:i :i64] [:n :i64] [:acc :i64]]]
      x
      :a)
     b
     (record-get
      [:record
       :token/ct-scan
       [[:a :string] [:b :string] [:i :i64] [:n :i64] [:acc :i64]]]
      x
      :b)
     i
     (record-get
      [:record
       :token/ct-scan
       [[:a :string] [:b :string] [:i :i64] [:n :i64] [:acc :i64]]]
      x
      :i)
     n
     (record-get
      [:record
       :token/ct-scan
       [[:a :string] [:b :string] [:i :i64] [:n :i64] [:acc :i64]]]
      x
      :n)
     acc
     (record-get
      [:record
       :token/ct-scan
       [[:a :string] [:b :string] [:i :i64] [:n :i64] [:acc :i64]]]
      x
      :acc)]
    (if
     (< i n)
     (let
      [ca
       (string-substring a i (+ i 1))
       cb
       (string-substring b i (+ i 1))
       ne
       (if (string=? ca cb) 0 1)
       nacc
       (if (= acc 0) ne 1)]
      (ct-scan
       (record-new
        [:record
         :token/ct-scan
         [[:a :string] [:b :string] [:i :i64] [:n :i64] [:acc :i64]]]
        a
        b
        (+ i 1)
        n
        nacc)))
     acc)),
   :param-types [[:ref :token/ct-scan]]}
  {:name constant-time-eq,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (let
    [a
     (record-get [:record :token/eq [[:a :string] [:b :string]]] x :a)
     b
     (record-get [:record :token/eq [[:a :string] [:b :string]]] x :b)
     na
     (string-byte-length a)
     nb
     (string-byte-length b)]
    (if
     (= na nb)
     (if
      (=
       (ct-scan
        (record-new
         [:record
          :token/ct-scan
          [[:a :string] [:b :string] [:i :i64] [:n :i64] [:acc :i64]]]
         a
         b
         0
         na
         0))
       0)
      true
      false)
     false)),
   :param-types [[:ref :token/eq]]}
  {:name __kotoba_string_from_i64_nat,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (string-substring "0123456789" n (+ n 1))
    (string-concat
     (__kotoba_string_from_i64_nat (quot n 10))
     (string-substring
      "0123456789"
      (- n (* (quot n 10) 10))
      (+ (- n (* (quot n 10) 10)) 1)))),
   :param-types [:i64]}
  {:name __kotoba_string_from_i64,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 0)
    (string-concat "-" (__kotoba_string_from_i64_nat (- 0 n)))
    (__kotoba_string_from_i64_nat n)),
   :param-types [:i64]}],
 :oracle-value nil,
 :schema-identities
 #:token{:claim-exp
         "37cfd851248f28ba734bfe3f1807a46f81b5ff12df6faf3da6db8f8582c8337f",
         :claims
         "0077a1136de8974ba357a2a90709465fe841afe5aa3df39e0cd698b444e32f86",
         :ct-scan
         "5fccb75ef270d65cddeec8331924c8985a6e787996d174a53bebb1b8e9cbee4b",
         :eq
         "9bff96b9f111e3dc6bc5e34ee46125418a730609890c0af315f099c2a8b15de5",
         :expired
         "95078200d03d61c8a48ac98a3a186788770f1e8266c068445a2684dc0d37e492",
         :parts
         "d3a31df7e30ecbb1b098bdaa4f06c9852ef75e41beb36ec9414a029dc8904d64",
         :scope-check
         "8d5aafebfbaf5fdfd806aa23e20b5cbccf832fa6b7e8f6a8e3f26de8d1461a65",
         :wire
         "b652d68f6f8ef0365c2fa2a9bd54fec50d1dbc45761c12799cd358ce5393b8e1"},
 :exports
 [version
  default-ttl
  claim-sub
  claim-scope
  claim-exp
  expired?
  scope-allows?
  signing-input
  encode-claims-json
  wire-token
  version-ok?
  parts-present?
  constant-time-eq
  ct-scan
  default-sub
  default-scope
  scope-all
  jwt-seg-sep
  wire-sep
  json-sub-prefix
  json-scope-mid
  json-iat-mid
  json-exp-mid
  json-close],
 :schemas
 #:token{:claims
         [:record
          :token/claims
          [[:sub :string] [:scope :string] [:iat :i64] [:exp :i64]]],
         :wire
         [:record :token/wire [[:payload :string] [:sig :string]]],
         :eq [:record :token/eq [[:a :string] [:b :string]]],
         :scope-check
         [:record
          :token/scope-check
          [[:token-scope :string] [:required :string]]],
         :claim-exp
         [:record
          :token/claim-exp
          [[:now :i64] [:ttl [:option :i64]]]],
         :expired
         [:record :token/expired [[:exp [:option :i64]] [:now :i64]]],
         :parts
         [:record
          :token/parts
          [[:v [:option :string]]
           [:payload [:option :string]]
           [:sig [:option :string]]]],
         :ct-scan
         [:record
          :token/ct-scan
          [[:a :string]
           [:b :string]
           [:i :i64]
           [:n :i64]
           [:acc :i64]]]},
 :effects #{},
 :blocks [],
 :entry nil}
