{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name version,
   :params [],
   :result :string,
   :effects #{},
   :body "mk1",
   :param-types []}
  {:name default-ttl,
   :params [],
   :result :i64,
   :effects #{},
   :body 2592000,
   :param-types []}
  {:name default-sub,
   :params [],
   :result :string,
   :effects #{},
   :body "anonymous",
   :param-types []}
  {:name default-scope,
   :params [],
   :result :string,
   :effects #{},
   :body "all",
   :param-types []}
  {:name scope-all,
   :params [],
   :result :string,
   :effects #{},
   :body "all",
   :param-types []}
  {:name jwt-seg-sep,
   :params [],
   :result :string,
   :effects #{},
   :body ".",
   :param-types []}
  {:name wire-sep,
   :params [],
   :result :string,
   :effects #{},
   :body (jwt-seg-sep),
   :param-types []}
  {:name json-sub-prefix,
   :params [],
   :result :string,
   :effects #{},
   :body "{\"sub\":\"",
   :param-types []}
  {:name json-scope-mid,
   :params [],
   :result :string,
   :effects #{},
   :body "\",\"scope\":\"",
   :param-types []}
  {:name json-iat-mid,
   :params [],
   :result :string,
   :effects #{},
   :body "\",\"iat\":",
   :param-types []}
  {:name json-exp-mid,
   :params [],
   :result :string,
   :effects #{},
   :body ",\"exp\":",
   :param-types []}
  {:name json-close,
   :params [],
   :result :string,
   :effects #{},
   :body "}",
   :param-types []}
  {:name claim-sub,
   :params [sub],
   :result :string,
   :effects #{},
   :body
   (let
    [__kotoba_binding-some_1 sub]
    (if
     (option-some?-of [:option :string] __kotoba_binding-some_1)
     (let
      [x
       (option-value-of [:option :string] __kotoba_binding-some_1 "")]
      x)
     (default-sub))),
   :param-types [[:option :string]]}
  {:name claim-scope,
   :params [scope],
   :result :string,
   :effects #{},
   :body
   (let
    [__kotoba_binding-some_2 scope]
    (if
     (option-some?-of [:option :string] __kotoba_binding-some_2)
     (let
      [x
       (option-value-of [:option :string] __kotoba_binding-some_2 "")]
      x)
     (default-scope))),
   :param-types [[:option :string]]}
  {:name claim-exp,
   :params [now ttl],
   :result :i64,
   :effects #{},
   :body
   (+
    now
    (let
     [__kotoba_binding-some_3 ttl]
     (if
      (option-some?-of [:option :i64] __kotoba_binding-some_3)
      (let
       [x (option-value-of [:option :i64] __kotoba_binding-some_3 0)]
       x)
      (default-ttl)))),
   :param-types [:i64 [:option :i64]]}
  {:name expired?,
   :params [exp now],
   :result :bool,
   :effects #{},
   :body
   (let
    [__kotoba_binding-some_4 exp]
    (if
     (option-some?-of [:option :i64] __kotoba_binding-some_4)
     (let
      [e (option-value-of [:option :i64] __kotoba_binding-some_4 0)]
      (if (< now e) false true))
     true)),
   :param-types [[:option :i64] :i64]}
  {:name scope-allows?,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (if
    (string=?
     (record-get
      [:record
       :token/scope-check
       [[:token-scope :string] [:required :string]]]
      x
      :token-scope)
     (scope-all))
    true
    (if
     (string=?
      (record-get
       [:record
        :token/scope-check
        [[:token-scope :string] [:required :string]]]
       x
       :token-scope)
      (record-get
       [:record
        :token/scope-check
        [[:token-scope :string] [:required :string]]]
       x
       :required))
     true
     false)),
   :param-types [[:ref :token/scope-check]]}
  {:name signing-input,
   :params [payload-seg],
   :result :string,
   :effects #{},
   :body
   (string-concat (version) (string-concat (jwt-seg-sep) payload-seg)),
   :param-types [:string]}
  {:name encode-claims-json,
   :params [c],
   :result :string,
   :effects #{},
   :body
   (let
    [a
     (string-concat
      (json-sub-prefix)
      (record-get
       [:record
        :token/claims
        [[:sub :string] [:scope :string] [:iat :i64] [:exp :i64]]]
       c
       :sub))
     b
     (string-concat a (json-scope-mid))
     c1
     (string-concat
      b
      (record-get
       [:record
        :token/claims
        [[:sub :string] [:scope :string] [:iat :i64] [:exp :i64]]]
       c
       :scope))
     d
     (string-concat c1 (json-iat-mid))
     e
     (string-concat
      d
      (__kotoba_string_from_i64
       (record-get
        [:record
         :token/claims
         [[:sub :string] [:scope :string] [:iat :i64] [:exp :i64]]]
        c
        :iat)))
     f
     (string-concat e (json-exp-mid))
     g
     (string-concat
      f
      (__kotoba_string_from_i64
       (record-get
        [:record
         :token/claims
         [[:sub :string] [:scope :string] [:iat :i64] [:exp :i64]]]
        c
        :exp)))]
    (string-concat g (json-close))),
   :param-types [[:ref :token/claims]]}
  {:name wire-token,
   :params [w],
   :result :string,
   :effects #{},
   :body
   (string-concat
    (version)
    (string-concat
     (wire-sep)
     (string-concat
      (record-get
       [:record :token/wire [[:payload :string] [:sig :string]]]
       w
       :payload)
      (string-concat
       (wire-sep)
       (record-get
        [:record :token/wire [[:payload :string] [:sig :string]]]
        w
        :sig))))),
   :param-types [[:ref :token/wire]]}
  {:name version-ok?,
   :params [v],
   :result :bool,
   :effects #{},
   :body (if (string=? v (version)) true false),
   :param-types [:string]}
  {:name parts-present?,
   :params [v p s],
   :result :bool,
   :effects #{},
   :body
   (let
    [__kotoba_binding-some_5 v]
    (if
     (option-some?-of [:option :string] __kotoba_binding-some_5)
     (let
      [_
       (option-value-of [:option :string] __kotoba_binding-some_5 "")]
      (let
       [__kotoba_binding-some_6 p]
       (if
        (option-some?-of [:option :string] __kotoba_binding-some_6)
        (let
         [_
          (option-value-of
           [:option :string]
           __kotoba_binding-some_6
           "")]
         (let
          [__kotoba_binding-some_7 s]
          (if
           (option-some?-of [:option :string] __kotoba_binding-some_7)
           (let
            [_
             (option-value-of
              [:option :string]
              __kotoba_binding-some_7
              "")]
            true)
           false)))
        false)))
     false)),
   :param-types
   [[:option :string] [:option :string] [:option :string]]}
  {:name ct-scan,
   :params [a b i n acc],
   :result :i64,
   :effects #{},
   :body
   (if
    (< i n)
    (let
     [ca
      (string-substring a i (+ i 1))
      cb
      (string-substring b i (+ i 1))
      ne
      (if (string=? ca cb) 0 1)
      nacc
      (if (= acc 0) ne 1)]
     (ct-scan a b (+ i 1) n nacc))
    acc),
   :param-types [:string :string :i64 :i64 :i64]}
  {:name constant-time-eq,
   :params [x],
   :result :bool,
   :effects #{},
   :body
   (let
    [a
     (record-get [:record :token/eq [[:a :string] [:b :string]]] x :a)
     b
     (record-get [:record :token/eq [[:a :string] [:b :string]]] x :b)
     na
     (string-byte-length a)
     nb
     (string-byte-length b)]
    (if (= na nb) (if (= (ct-scan a b 0 na 0) 0) true false) false)),
   :param-types [[:ref :token/eq]]}
  {:name __kotoba_string_from_i64_nat,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 10)
    (string-substring "0123456789" n (+ n 1))
    (string-concat
     (__kotoba_string_from_i64_nat (quot n 10))
     (string-substring
      "0123456789"
      (- n (* (quot n 10) 10))
      (+ (- n (* (quot n 10) 10)) 1)))),
   :param-types [:i64]}
  {:name __kotoba_string_from_i64,
   :params [n],
   :result :string,
   :effects #{},
   :body
   (if
    (< n 0)
    (string-concat "-" (__kotoba_string_from_i64_nat (- 0 n)))
    (__kotoba_string_from_i64_nat n)),
   :param-types [:i64]}],
 :oracle-value nil,
 :schema-identities
 #:token{:claims
         "f38bcfaab1d6dc141f7380f0255bef02e31a535f07ca15d55be8642518d25937",
         :eq
         "42b360fc7adcff33a3f02a1aff1aec6d9f48672ffeaad45bdd9bc58ff0ac9b37",
         :scope-check
         "ff0e2bd3d3693c43bcba941f8192f36321d4eb5268d1bc511c4dd6359685203d",
         :wire
         "fc0c457e80036683df6b1aeb24d14e7e47d1c2b7ab291a6d4c3f1a5a60ed1cd4"},
 :exports
 [version
  default-ttl
  claim-sub
  claim-scope
  claim-exp
  expired?
  scope-allows?
  signing-input
  encode-claims-json
  wire-token
  version-ok?
  parts-present?
  constant-time-eq
  ct-scan
  default-sub
  default-scope
  scope-all
  jwt-seg-sep
  wire-sep
  json-sub-prefix
  json-scope-mid
  json-iat-mid
  json-exp-mid
  json-close],
 :schemas
 #:token{:claims
         [:record
          :token/claims
          [[:sub :string] [:scope :string] [:iat :i64] [:exp :i64]]],
         :wire
         [:record :token/wire [[:payload :string] [:sig :string]]],
         :eq [:record :token/eq [[:a :string] [:b :string]]],
         :scope-check
         [:record
          :token/scope-check
          [[:token-scope :string] [:required :string]]]},
 :effects #{},
 :blocks [],
 :entry nil}
